<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_continue</key>
            <dict>
                <key>frame</key>
                <string>{{676,206},{96,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_continue_c</key>
            <dict>
                <key>frame</key>
                <string>{{578,206},{96,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_forward</key>
            <dict>
                <key>frame</key>
                <string>{{480,206},{96,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_forward_c</key>
            <dict>
                <key>frame</key>
                <string>{{676,104},{96,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_next</key>
            <dict>
                <key>frame</key>
                <string>{{578,104},{96,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_next_c</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{96,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_option</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{64,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,222}}</string>
                <key>sourceSize</key>
                <string>{64,222}</string>
            </dict>
            <key>button_option_bg</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{86,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,306}}</string>
                <key>sourceSize</key>
                <string>{86,306}</string>
            </dict>
            <key>button_option_c</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{64,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,222}}</string>
                <key>sourceSize</key>
                <string>{64,222}</string>
            </dict>
            <key>button_pause</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{96,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_pause_c</key>
            <dict>
                <key>frame</key>
                <string>{{480,104},{96,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_repeat</key>
            <dict>
                <key>frame</key>
                <string>{{122,162},{96,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_repeat_c</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{96,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_wood_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{118,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>toolbar_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,158}}</string>
                <key>sourceSize</key>
                <string>{256,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toolbar-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{774,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61b73f9d35afd1927c772ca06e73fe76:1/1$</string>
            <key>textureFileName</key>
            <string>toolbar-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
