<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_audio_play</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_audio_play_c</key>
            <dict>
                <key>frame</key>
                <string>{{51,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_record</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_record_c</key>
            <dict>
                <key>frame</key>
                <string>{{0,53},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_record_stop</key>
            <dict>
                <key>frame</key>
                <string>{{51,53},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_record_stop_c</key>
            <dict>
                <key>frame</key>
                <string>{{102,53},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toolbar-buttons-record-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{153,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cd15e97fca8f76dcba24f1c2a372104:2aded9f85aa08cfd774349e738be5749:3499702905000d46d9da99224b7574f8$</string>
            <key>textureFileName</key>
            <string>toolbar-buttons-record-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
