<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_continue</key>
            <dict>
                <key>frame</key>
                <string>{{184,58},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_continue_c</key>
            <dict>
                <key>frame</key>
                <string>{{184,30},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_forward</key>
            <dict>
                <key>frame</key>
                <string>{{156,58},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_forward_c</key>
            <dict>
                <key>frame</key>
                <string>{{156,30},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_next</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_next_c</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_option</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>button_option_bg</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{22,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,77}}</string>
                <key>sourceSize</key>
                <string>{22,77}</string>
            </dict>
            <key>button_option_c</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>button_pause</key>
            <dict>
                <key>frame</key>
                <string>{{128,58},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_pause_c</key>
            <dict>
                <key>frame</key>
                <string>{{128,30},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_repeat</key>
            <dict>
                <key>frame</key>
                <string>{{34,44},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_repeat_c</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_wood_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>toolbar_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toolbar.pvr.ccz</string>
            <key>size</key>
            <string>{212,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e31966dafccc726bcc3a5986df9c78d:1/1$</string>
            <key>textureFileName</key>
            <string>toolbar.pvr.ccz</string>
        </dict>
    </dict>
</plist>
