<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_continue</key>
            <dict>
                <key>frame</key>
                <string>{{166,170},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_continue_c</key>
            <dict>
                <key>frame</key>
                <string>{{217,161},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_forward</key>
            <dict>
                <key>frame</key>
                <string>{{166,117},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_forward_c</key>
            <dict>
                <key>frame</key>
                <string>{{217,108},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_next</key>
            <dict>
                <key>frame</key>
                <string>{{217,55},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_next_c</key>
            <dict>
                <key>frame</key>
                <string>{{166,64},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_option</key>
            <dict>
                <key>frame</key>
                <string>{{81,83},{32,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,111}}</string>
                <key>sourceSize</key>
                <string>{32,111}</string>
            </dict>
            <key>button_option_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{43,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,153}}</string>
                <key>sourceSize</key>
                <string>{43,153}</string>
            </dict>
            <key>button_option_c</key>
            <dict>
                <key>frame</key>
                <string>{{47,83},{32,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,111}}</string>
                <key>sourceSize</key>
                <string>{32,111}</string>
            </dict>
            <key>button_pause</key>
            <dict>
                <key>frame</key>
                <string>{{115,189},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_pause_c</key>
            <dict>
                <key>frame</key>
                <string>{{115,136},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_repeat</key>
            <dict>
                <key>frame</key>
                <string>{{115,83},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_repeat_c</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_wood_bg</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>toolbar_bg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,79}}</string>
                <key>sourceSize</key>
                <string>{128,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toolbar-hd.pvr.ccz</string>
            <key>size</key>
            <string>{268,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8ce61252cd742b98e1ed23afc1d09b9:1/1$</string>
            <key>textureFileName</key>
            <string>toolbar-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
