<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,853},{518,795}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{518,795}}</string>
                <key>sourceSize</key>
                <string>{676,901}</string>
            </dict>
            <key>boy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,853},{518,795}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{518,795}}</string>
                <key>sourceSize</key>
                <string>{676,901}</string>
            </dict>
            <key>boy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{518,795}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{518,795}}</string>
                <key>sourceSize</key>
                <string>{676,901}</string>
            </dict>
            <key>boy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,0},{481,851}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,55},{481,851}}</string>
                <key>sourceSize</key>
                <string>{613,949}</string>
            </dict>
            <key>boy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,797},{481,851}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,55},{481,851}}</string>
                <key>sourceSize</key>
                <string>{613,949}</string>
            </dict>
            <key>boy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{481,851}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,55},{481,851}}</string>
                <key>sourceSize</key>
                <string>{613,949}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boy-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1521,1648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26aaf86d493e39e8ac9e426c73aca5dc:0d401ca228f41f6f7dea83e742b69aad:232b917bbcf3f685d94f64f565b7a28d$</string>
            <key>textureFileName</key>
            <string>boy-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
