<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,318},{168,242}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{168,242}}</string>
                <key>sourceSize</key>
                <string>{198,266}</string>
            </dict>
            <key>duck_node_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,0},{170,244}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{170,244}}</string>
                <key>sourceSize</key>
                <string>{198,266}</string>
            </dict>
            <key>duck_node_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,246},{166,248}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{166,248}}</string>
                <key>sourceSize</key>
                <string>{198,266}</string>
            </dict>
            <key>duck_run0.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,246},{168,244}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{168,244}}</string>
                <key>sourceSize</key>
                <string>{198,266}</string>
            </dict>
            <key>duck_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{168,248}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{168,248}}</string>
                <key>sourceSize</key>
                <string>{198,266}</string>
            </dict>
            <key>duck_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,0},{168,244}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{168,244}}</string>
                <key>sourceSize</key>
                <string>{198,266}</string>
            </dict>
            <key>duck_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{168,250}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{168,250}}</string>
                <key>sourceSize</key>
                <string>{198,266}</string>
            </dict>
            <key>duck_shake1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,252},{150,250}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{150,250}}</string>
                <key>sourceSize</key>
                <string>{198,266}</string>
            </dict>
            <key>duck_shake2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,250},{152,250}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{152,250}}</string>
                <key>sourceSize</key>
                <string>{198,266}</string>
            </dict>
            <key>duck_speak1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{168,242}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{168,242}}</string>
                <key>sourceSize</key>
                <string>{198,266}</string>
            </dict>
            <key>duck_think.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{280,316}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{280,316}}</string>
                <key>sourceSize</key>
                <string>{292,324}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duck-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{982,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:441fb0b3546bb97d1ebe26610b8f355f:7bf1cb10d23b4d29d17cded0a1ce5a04:c9c3e349d2b8f45dc463aef73a484b2b$</string>
            <key>textureFileName</key>
            <string>duck-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
