<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duck</key>
            <dict>
                <key>frame</key>
                <string>{{772,418},{168,243}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,128},{168,243}}</string>
                <key>sourceSize</key>
                <string>{338,451}</string>
            </dict>
            <key>duck_node_1</key>
            <dict>
                <key>frame</key>
                <string>{{638,0},{170,245}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,126},{170,245}}</string>
                <key>sourceSize</key>
                <string>{338,451}</string>
            </dict>
            <key>duck_node_2</key>
            <dict>
                <key>frame</key>
                <string>{{604,250},{166,247}}</string>
                <key>offset</key>
                <string>{-10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,124},{166,247}}</string>
                <key>sourceSize</key>
                <string>{338,451}</string>
            </dict>
            <key>duck_run1</key>
            <dict>
                <key>frame</key>
                <string>{{467,0},{169,248}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{169,248}}</string>
                <key>sourceSize</key>
                <string>{263,286}</string>
            </dict>
            <key>duck_run2</key>
            <dict>
                <key>frame</key>
                <string>{{772,247},{169,244}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,16},{169,244}}</string>
                <key>sourceSize</key>
                <string>{263,286}</string>
            </dict>
            <key>duck_run3</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{169,250}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{169,250}}</string>
                <key>sourceSize</key>
                <string>{263,286}</string>
            </dict>
            <key>duck_shake1</key>
            <dict>
                <key>frame</key>
                <string>{{452,252},{150,249}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,28},{150,249}}</string>
                <key>sourceSize</key>
                <string>{268,307}</string>
            </dict>
            <key>duck_shake2</key>
            <dict>
                <key>frame</key>
                <string>{{296,252},{154,249}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,28},{154,249}}</string>
                <key>sourceSize</key>
                <string>{268,307}</string>
            </dict>
            <key>duck_speak</key>
            <dict>
                <key>frame</key>
                <string>{{810,0},{169,242}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{169,242}}</string>
                <key>sourceSize</key>
                <string>{243,286}</string>
            </dict>
            <key>duck_think</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{294,497}}</string>
                <key>offset</key>
                <string>{27,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,13},{294,497}}</string>
                <key>sourceSize</key>
                <string>{432,559}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duck-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1020,586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e05599a6bce84c5af58764771d0453f:f0ff0356e7728eb19f7dbc30a15560cc:c9c3e349d2b8f45dc463aef73a484b2b$</string>
            <key>textureFileName</key>
            <string>duck-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
