<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,633},{336,483}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{336,483}}</string>
                <key>sourceSize</key>
                <string>{396,531}</string>
            </dict>
            <key>duck_node_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,0},{340,487}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{340,487}}</string>
                <key>sourceSize</key>
                <string>{396,531}</string>
            </dict>
            <key>duck_node_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,489},{330,493}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{330,493}}</string>
                <key>sourceSize</key>
                <string>{396,531}</string>
            </dict>
            <key>duck_run0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,0},{336,487}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{336,487}}</string>
                <key>sourceSize</key>
                <string>{396,531}</string>
            </dict>
            <key>duck_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,0},{336,493}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{336,493}}</string>
                <key>sourceSize</key>
                <string>{396,531}</string>
            </dict>
            <key>duck_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,489},{336,485}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{336,485}}</string>
                <key>sourceSize</key>
                <string>{396,531}</string>
            </dict>
            <key>duck_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,0},{336,497}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{336,497}}</string>
                <key>sourceSize</key>
                <string>{396,531}</string>
            </dict>
            <key>duck_shake1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,499},{298,497}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,9},{298,497}}</string>
                <key>sourceSize</key>
                <string>{396,531}</string>
            </dict>
            <key>duck_shake2.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,495},{304,497}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,9},{304,497}}</string>
                <key>sourceSize</key>
                <string>{396,531}</string>
            </dict>
            <key>duck_speak1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,633},{336,483}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{336,483}}</string>
                <key>sourceSize</key>
                <string>{396,531}</string>
            </dict>
            <key>duck_think.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{559,631}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{559,631}}</string>
                <key>sourceSize</key>
                <string>{583,647}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duck-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1950,1116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:441fb0b3546bb97d1ebe26610b8f355f:7bf1cb10d23b4d29d17cded0a1ce5a04:c9c3e349d2b8f45dc463aef73a484b2b$</string>
            <key>textureFileName</key>
            <string>duck-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
