<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Big_E01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,416},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E02.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,278},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E03.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,278},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E04.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,278},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E05.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,758},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,598},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,438},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,278},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E09.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,140},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E10.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,140},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E11.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,140},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E12.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,140},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E13.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,780},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E14.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,620},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E15.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,460},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E16.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,300},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E17.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,140},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E18.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E19.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E20.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E21.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E22.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_E28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,158}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{136,158}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BigEAnim.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cabfbc50a0b3259b50ffeef92bc2c169:1/1$</string>
            <key>textureFileName</key>
            <string>BigEAnim.png</string>
        </dict>
    </dict>
</plist>
