<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>letter</key>
	<string>E</string>
	<key>audioFileName</key>
	<string>idE.mp3</string>
	<key>titlePeriod</key>
	<string>{0,3.76}</string>
	<key>soundNameWord</key>
	<string>Elephant</string>
	<key>images</key>
	<dict>
		<key>background</key>
		<dict>
			<key>frameFileName</key>
			<string>letter_identification_bgimage_a.plist</string>
			<key>textureFileName</key>
			<string>no_elephant_bg.jpg</string>
		</dict>
		<key>contents</key>
		<array>
			<dict>
				<key>frameFileName</key>
				<string>letter_identification_a.plist</string>
				<key>textureFileName</key>
				<string>letter_identification_a.pvr.ccz</string>
			</dict>
		</array>
	</dict>
	<key>scenes</key>
	<array>
		<dict>
			<key>dialog</key>
			<string>Can you tell me who is our friend today?</string>
			<key>audioPeriod</key>
			<string>{0.23,3}</string>
		</dict>
		<dict>
			<key>dialog</key>
			<string>Here is a clue</string>
			<key>audioPeriod</key>
			<string>{5.4,7.1}</string>
		</dict>
		<dict>
			<key>dialog</key>
			<string>Did you say elephant?  That’s right, our friend today is Eddie the Elephant!  </string>
			<key>audioPeriod</key>
			<string>{10.043,17.471}</string>
		</dict>
		<dict>
			<key>dialog</key>
			<string> Do you know what letter elephant starts with</string>
			<key>audioPeriod</key>
			<string>{18,22}</string>
			<key>animations</key>
			<array>
				<dict>
					<key>isNativeAnimation</key>
					<true/>
					<key>startTime</key>
					<real>18.2</real>
				</dict>
				<dict>
					<key>isNativeAnimation</key>
					<true/>
					<key>startTime</key>
					<integer>21</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>animations</key>
			<array>
				<dict>
					<key>isNativeAnimation</key>
					<true/>
					<key>startTime</key>
					<real>28.665</real>
				</dict>
			</array>
			<key>dialog</key>
			<string>e, elephant starts with the letter E! This is a big E.  Can you say E</string>
			<key>audioPeriod</key>
			<string>{23.824,33.576}</string>
		</dict>
		<dict>
			<key>animations</key>
			<array>
				<dict>
					<key>firstFrameIndex</key>
					<integer>1</integer>
					<key>animationName</key>
					<string>writeBigE</string>
					<key>framePrefix</key>
					<string>Big_E%02d.png</string>
					<key>PlistName</key>
					<string>BigEAnim</string>
					<key>startTime</key>
					<integer>36</integer>
					<key>posX</key>
					<real>0.4</real>
					<key>posY</key>
					<real>0.3</real>
					<key>delay</key>
					<string>0.3</string>
				</dict>
			</array>
			<key>dialog</key>
			<string>E!  This is how we write a big E.  Can you try to write a big E</string>
			<key>audioPeriod</key>
			<string>{35.431,44}</string>
		</dict>
		<dict>
			<key>animations</key>
			<array>
				<dict>
					<key>isNativeAnimation</key>
					<true/>
					<key>startTime</key>
					<integer>47</integer>
				</dict>
			</array>
			<key>dialog</key>
			<string>Now this is a little e.  (Show little e next to big E).  Can you say e again?”</string>
			<key>audioPeriod</key>
			<string>{46.811, 56.07}</string>
		</dict>
		<dict>
			<key>animations</key>
			<array>
				<dict>
					<key>firstFrameIndex</key>
					<integer>1</integer>
					<key>animationName</key>
					<string>writelittleE</string>
					<key>framePrefix</key>
					<string>Little_e%02d.png</string>
					<key>PlistName</key>
					<string>LittleEAnim</string>
					<key>startTime</key>
					<integer>57</integer>
					<key>posX</key>
					<real>0.38</real>
					<key>posY</key>
					<real>0.32</real>
					<key>delay</key>
					<string>0.3</string>
				</dict>
			</array>
			<key>dialog</key>
			<string>  Can you try to write the little E</string>
			<key>audioPeriod</key>
			<string>{56.180,59.138}</string>
		</dict>
	</array>
</dict>
</plist>
