<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Happy Me</string>
    <key>path</key>
	<string>Assets/touchingGames/Happy Me</string>
	<key>background</key>
	<string>happy_background.png</string>
	<key>label</key>
	<dict>
		<key>fntFile</key>
		<string>Didot.fnt</string>
		<key>position</key>
		<string>{0.24,0.09}</string>
        <key>anchorPoint</key>
        <string>{0,0.5}</string>
	</dict>
	<key>objects</key>
	<dict>
		<key>hair</key>
		<dict>
			<key>file</key>
			<string>hair.png</string>
			<key>audio</key>
			<string>hair.mp3</string>
			<key>content</key>
			<string>I have happy hair.</string>
			<key>position</key>
			<string>{0.393,0.811}</string>
		</dict>
		<key>hands</key>
		<dict>
			<key>file</key>
			<string>hand.png</string>
			<key>audio</key>
			<string>hands.mp3</string>
			<key>content</key>
			<string>I have happy hands.</string>
			<key>position</key>
			<string>{0.64,0.805}</string>
		</dict>
		<key>heart</key>
		<dict>
			<key>file</key>
			<string>heart.png</string>
			<key>audio</key>
			<string>heart.mp3</string>
			<key>content</key>
			<string>I have a happy heart.</string>
			<key>position</key>
			<string>{0.484,0.502}</string>
		</dict>
		<key>head</key>
		<dict>
			<key>file</key>
			<string>head.png</string>
			<key>audio</key>
			<string>head.mp3</string>
			<key>content</key>
			<string>I have a happy head.</string>
			<key>position</key>
			<string>{0.737,0.494}</string>
		</dict>
		<key>heels</key>
		<dict>
			<key>file</key>
			<string>heel.png</string>
			<key>audio</key>
			<string>heels.mp3</string>
			<key>content</key>
			<string>I have happy heels.</string>
			<key>position</key>
			<string>{0.377,0.277}</string>
		</dict>
		<key>hips</key>
		<dict>
			<key>file</key>
			<string>hips.png</string>
			<key>audio</key>
			<string>hips.mp3</string>
			<key>content</key>
			<string>I have happy hips.</string>
			<key>position</key>
			<string>{0.20,0.551}</string>
		</dict>
	</dict>
</dict>
</plist>
