<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>I Love</string>
    <key>path</key>
	<string>Assets/touchingGames/I_love</string>
	<key>background</key>
	<string>I_love_background.png</string>
	<key>label</key>
	<dict>
		<key>fntFile</key>
		<string>Didot.fnt</string>
		<key>position</key>
		<string>{0.241,0.066}</string>
        <key>anchorPoint</key>
        <string>{0,0.5}</string>
	</dict>
	<key>objects</key>
	<dict>
		<key>mug</key>
		<dict>
			<key>file</key>
			<string>mug.png</string>
			<key>audio</key>
			<string>mug.mp3</string>
			<key>content</key>
			<string>I love my mug.</string>
			<key>position</key>
			<string>{0.619,0.521}</string>
		</dict>
		<key>mat</key>
		<dict>
			<key>file</key>
			<string>mat.png</string>
			<key>audio</key>
			<string>mat.mp3</string>
			<key>content</key>
			<string>I love my mat.</string>
			<key>position</key>
			<string>{0.121,0.235}</string>
		</dict>
		<key>mask</key>
		<dict>
			<key>file</key>
			<string>mask.png</string>
			<key>audio</key>
			<string>mask.mp3</string>
			<key>content</key>
			<string>I love my mask.</string>
			<key>position</key>
			<string>{0.784,0.873}</string>
		</dict>
		<key>mittens</key>
		<dict>
			<key>file</key>
			<string>mittens.png</string>
			<key>audio</key>
			<string>mittens.mp3</string>
			<key>content</key>
			<string>I hove my mittens</string>
			<key>position</key>
			<string>{0.184,0.872}</string>
		</dict>
		<key>medal</key>
		<dict>
			<key>file</key>
			<string>medal.png</string>
			<key>audio</key>
			<string>medal.mp3</string>
			<key>content</key>
			<string>I love my medal.</string>
			<key>position</key>
			<string>{0.579,0.825}</string>
		</dict>
		<key>mom</key>
		<dict>
			<key>file</key>
			<string>mom.png</string>
			<key>audio</key>
			<string>mom.mp3</string>
			<key>content</key>
			<string>I love my mom.</string>
			<key>position</key>
			<string>{0.43,0.521}</string>
		</dict>
	</dict>
</dict>
</plist>
