<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>backCard.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 171}</string>
			<key>spriteSourceSize</key>
			<string>{140, 171}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1026, 724}, {140, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>biaotou.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1024, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1024, 98}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 724}, {1024, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottom.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {1024, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{1024, 84}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 824}, {1024, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {265, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{265, 80}</string>
			<key>spriteSourceSize</key>
			<string>{265, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 426}, {265, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {254, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{254, 61}</string>
			<key>spriteSourceSize</key>
			<string>{254, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1388, 728}, {254, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button1_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {254, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{254, 61}</string>
			<key>spriteSourceSize</key>
			<string>{254, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1388, 798}, {254, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button1_pressed2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {252, 57}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{252, 57}</string>
			<key>spriteSourceSize</key>
			<string>{254, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 650}, {252, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 76}</string>
			<key>spriteSourceSize</key>
			<string>{197, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 587}, {197, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button2_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 76}</string>
			<key>spriteSourceSize</key>
			<string>{197, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{267, 587}, {197, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button2_pressed2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {195, 74}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{195, 74}</string>
			<key>spriteSourceSize</key>
			<string>{197, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1820, 950}, {195, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {265, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{265, 80}</string>
			<key>spriteSourceSize</key>
			<string>{265, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 568}, {265, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cards.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {212, 73}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{212, 73}</string>
			<key>spriteSourceSize</key>
			<string>{214, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1820, 798}, {212, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>catSad.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {213, 305}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{213, 305}</string>
			<key>spriteSourceSize</key>
			<string>{221, 305}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1173, 647}, {213, 305}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>catSmile.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {221, 302}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{221, 302}</string>
			<key>spriteSourceSize</key>
			<string>{221, 308}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 420}, {221, 302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chelun.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {24, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 24}</string>
			<key>spriteSourceSize</key>
			<string>{26, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1710, 477}, {24, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>congratulations.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {620, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{620, 60}</string>
			<key>spriteSourceSize</key>
			<string>{620, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 426}, {620, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameDoneBackground.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {948, 424}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{948, 424}</string>
			<key>spriteSourceSize</key>
			<string>{948, 424}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {948, 424}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameOver.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {512, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{512, 75}</string>
			<key>spriteSourceSize</key>
			<string>{512, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1388, 873}, {512, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hua.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1024, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1024, 58}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 954}, {1024, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>huangbian.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {17, 645}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{17, 645}</string>
			<key>spriteSourceSize</key>
			<string>{17, 655}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2028, 0}, {17, 645}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>levelDoneBackground.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 12}, {789, 418}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{789, 418}</string>
			<key>spriteSourceSize</key>
			<string>{809, 436}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 0}, {789, 418}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>levelup.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {430, 78}}</string>
			<key>spriteOffset</key>
			<string>{-3, 4}</string>
			<key>spriteSize</key>
			<string>{430, 78}</string>
			<key>spriteSourceSize</key>
			<string>{452, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 488}, {430, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {195, 236}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{195, 236}</string>
			<key>spriteSourceSize</key>
			<string>{197, 238}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1815, 560}, {195, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainMenu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {146, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{146, 25}</string>
			<key>spriteSourceSize</key>
			<string>{148, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1644, 756}, {146, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matching.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {348, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{348, 97}</string>
			<key>spriteSourceSize</key>
			<string>{348, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1388, 629}, {348, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>music.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 26}</string>
			<key>spriteSourceSize</key>
			<string>{24, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1710, 449}, {24, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nextLevel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {159, 26}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{159, 26}</string>
			<key>spriteSourceSize</key>
			<string>{161, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1644, 728}, {159, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {356, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{356, 77}</string>
			<key>spriteSourceSize</key>
			<string>{356, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 508}, {356, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>phonics.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {373, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{373, 131}</string>
			<key>spriteSourceSize</key>
			<string>{377, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1173, 420}, {373, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>play.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{97, 32}</string>
			<key>spriteSourceSize</key>
			<string>{97, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{215, 910}, {97, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playAgain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {213, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{213, 32}</string>
			<key>spriteSourceSize</key>
			<string>{215, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 910}, {213, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>qianbi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {683, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{683, 56}</string>
			<key>spriteSourceSize</key>
			<string>{683, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1135, 954}, {683, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sound.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{19, 27}</string>
			<key>spriteSourceSize</key>
			<string>{19, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1710, 503}, {19, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tingchewei.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {285, 558}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{285, 558}</string>
			<key>spriteSourceSize</key>
			<string>{287, 560}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1741, 0}, {285, 558}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {640, 67}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{640, 67}</string>
			<key>spriteSourceSize</key>
			<string>{642, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1173, 560}, {640, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turn_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 27}</string>
			<key>spriteSourceSize</key>
			<string>{26, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1710, 420}, {26, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaoche1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {107, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{107, 71}</string>
			<key>spriteSourceSize</key>
			<string>{109, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1026, 897}, {107, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaoche2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 63}</string>
			<key>spriteSourceSize</key>
			<string>{106, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1548, 493}, {106, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaoche3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {102, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{102, 54}</string>
			<key>spriteSourceSize</key>
			<string>{110, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1644, 798}, {102, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaoche4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {107, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{107, 71}</string>
			<key>spriteSourceSize</key>
			<string>{109, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1548, 420}, {107, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaoche5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 63}</string>
			<key>spriteSourceSize</key>
			<string>{106, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1902, 873}, {106, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaoche6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {102, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{102, 54}</string>
			<key>spriteSourceSize</key>
			<string>{110, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1026, 970}, {102, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaohua.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 53}</string>
			<key>spriteSourceSize</key>
			<string>{52, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1656, 493}, {52, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>cardMatching-ipad</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>cardMatching-ipadhd copy</string>
			<key>textureFileName</key>
			<string>cardMatching-ipad</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>cardMatching-ipad</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>