<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>backCard.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {280, 342}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{280, 342}</string>
			<key>spriteSourceSize</key>
			<string>{280, 342}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3648, 1432}, {280, 342}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>biaotou.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2048, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2048, 195}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{510, 1556}, {2048, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottom.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {2048, 167}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{2048, 167}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{506, 1753}, {2048, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {530, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{530, 160}</string>
			<key>spriteSourceSize</key>
			<string>{530, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{35, 1118}, {530, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {508, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{508, 122}</string>
			<key>spriteSourceSize</key>
			<string>{508, 122}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1452}, {508, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button1_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {508, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{508, 122}</string>
			<key>spriteSourceSize</key>
			<string>{508, 122}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1576}, {508, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button1_pressed2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {504, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{504, 114}</string>
			<key>spriteSourceSize</key>
			<string>{508, 122}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1700}, {504, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {394, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{394, 152}</string>
			<key>spriteSourceSize</key>
			<string>{394, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2855, 1286}, {394, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button2_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {394, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{394, 152}</string>
			<key>spriteSourceSize</key>
			<string>{394, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1743, 1371}, {394, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>button2_pressed2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {388, 144}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{388, 144}</string>
			<key>spriteSourceSize</key>
			<string>{394, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3648, 1286}, {388, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>buttonPressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {530, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{530, 160}</string>
			<key>spriteSourceSize</key>
			<string>{530, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1290}, {530, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cards.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {422, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{422, 146}</string>
			<key>spriteSourceSize</key>
			<string>{428, 146}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2556, 1753}, {422, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>catSad.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {424, 609}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{424, 609}</string>
			<key>spriteSourceSize</key>
			<string>{442, 609}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{602, 851}, {424, 609}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>catSmile.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {442, 601}}</string>
			<key>spriteOffset</key>
			<string>{0, -8}</string>
			<key>spriteSize</key>
			<string>{442, 601}</string>
			<key>spriteSourceSize</key>
			<string>{442, 617}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2411, 953}, {442, 601}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chelun.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {47, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 48}</string>
			<key>spriteSourceSize</key>
			<string>{51, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 1334}, {47, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>congratulations.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {1238, 118}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{1238, 118}</string>
			<key>spriteSourceSize</key>
			<string>{1240, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1028, 987}, {1238, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameDoneBackground.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1899, 849}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1899, 849}</string>
			<key>spriteSourceSize</key>
			<string>{1899, 849}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{602, 0}, {1899, 849}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameOver.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1024, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1024, 149}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2855, 982}, {1024, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hua.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2048, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2048, 115}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1922}, {2048, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>huangbian.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {33, 1288}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{33, 1288}</string>
			<key>spriteSourceSize</key>
			<string>{33, 1310}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {33, 1288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>levelDoneBackground.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 25}, {1578, 836}}</string>
			<key>spriteOffset</key>
			<string>{9, -7}</string>
			<key>spriteSize</key>
			<string>{1578, 836}</string>
			<key>spriteSourceSize</key>
			<string>{1618, 872}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2503, 0}, {1578, 836}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>levelup.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 5}, {853, 151}}</string>
			<key>spriteOffset</key>
			<string>{-6, 9}</string>
			<key>spriteSize</key>
			<string>{853, 151}</string>
			<key>spriteSourceSize</key>
			<string>{899, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2855, 1133}, {853, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {389, 471}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{389, 471}</string>
			<key>spriteSourceSize</key>
			<string>{395, 477}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3257, 1286}, {389, 471}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mainMenu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 10}, {291, 50}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{291, 50}</string>
			<key>spriteSourceSize</key>
			<string>{295, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{565, 1462}, {291, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>matching.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {695, 195}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{695, 195}</string>
			<key>spriteSourceSize</key>
			<string>{697, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2560, 1556}, {695, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>music.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 52}</string>
			<key>spriteSourceSize</key>
			<string>{48, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 1280}, {48, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nextLevel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {319, 49}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{319, 49}</string>
			<key>spriteSourceSize</key>
			<string>{327, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1777, 1107}, {319, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {713, 155}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{713, 155}</string>
			<key>spriteSourceSize</key>
			<string>{713, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1028, 1371}, {713, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>phonics.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {747, 262}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{747, 262}</string>
			<key>spriteSourceSize</key>
			<string>{755, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1028, 1107}, {747, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>play.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {193, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{193, 64}</string>
			<key>spriteSourceSize</key>
			<string>{193, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2306, 851}, {193, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playAgain.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {423, 64}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{423, 64}</string>
			<key>spriteSourceSize</key>
			<string>{429, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1816}, {423, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>qianbi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1367, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1367, 113}</string>
			<key>spriteSourceSize</key>
			<string>{1367, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2503, 838}, {1367, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sound.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 55}</string>
			<key>spriteSourceSize</key>
			<string>{38, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 1384}, {38, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tingchewei.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {565, 1116}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{565, 1116}</string>
			<key>spriteSourceSize</key>
			<string>{573, 1120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{35, 0}, {565, 1116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {1276, 134}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{1276, 134}</string>
			<key>spriteSourceSize</key>
			<string>{1284, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1028, 851}, {1276, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>turn_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 55}</string>
			<key>spriteSourceSize</key>
			<string>{53, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{510, 1452}, {53, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaoche1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {211, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{211, 142}</string>
			<key>spriteSourceSize</key>
			<string>{217, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2139, 1107}, {211, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaoche2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {210, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{210, 124}</string>
			<key>spriteSourceSize</key>
			<string>{212, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1777, 1158}, {210, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaoche3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {201, 106}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{201, 106}</string>
			<key>spriteSourceSize</key>
			<string>{219, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2855, 1440}, {201, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaoche4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {211, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{211, 142}</string>
			<key>spriteSourceSize</key>
			<string>{217, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3872, 838}, {211, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaoche5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {210, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{210, 124}</string>
			<key>spriteSourceSize</key>
			<string>{212, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2139, 1251}, {210, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaoche6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {201, 106}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{201, 106}</string>
			<key>spriteSourceSize</key>
			<string>{219, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2139, 1377}, {201, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>xiaohua.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {103, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 107}</string>
			<key>spriteSourceSize</key>
			<string>{105, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2306, 917}, {103, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 2048}</string>
		<key>name</key>
		<string>cardMatching-ipadhd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>cardMatching-ipadhd copy</string>
			<key>textureFileName</key>
			<string>cardMatching-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>cardMatching-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>