<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>add</string>
		<string>aligator</string>
		<string>ant</string>
		<string>astronaut</string>
		<string>ax</string>
	</array>
	<array>
		<string>bag</string>
		<string>bat</string>
		<string>bear</string>
		<string>bicycle</string>
		<string>big</string>
		<string>bird</string>
		<string>boat</string>
		<string>box</string>
		<string>bus</string>
	</array>
	<array>
		<string>cake</string>
		<string>cam</string>
		<string>cap</string>
		<string>car</string>
		<string>cat</string>
		<string>cow</string>
	</array>
	<array>
		<string>dam</string>
		<string>deer</string>
		<string>dog</string>
		<string>dolphin</string>
		<string>donkey</string>
		<string>duck</string>
	</array>
	<array>
		<string>egg</string>
		<string>eggplant</string>
		<string>elevator</string>
		<string>engine</string>
		<string>envelope</string>
	</array>
	<array>
		<string>fan</string>
		<string>fat</string>
		<string>fish</string>
		<string>flamingo</string>
		<string>flower</string>
		<string>fly</string>
		<string>fox</string>
		<string>frog</string>
	</array>
	<array>
		<string>gam</string>
		<string>gap</string>
		<string>garbage</string>
		<string>gat</string>
		<string>gecko</string>
		<string>girl</string>
		<string>glad</string>
		<string>goat</string>
		<string>gorilla</string>
	</array>
	<array>
		<string>hag</string>
		<string>ham</string>
		<string>happy</string>
		<string>hat</string>
		<string>helicopter</string>
		<string>hen</string>
		<string>hog</string>
		<string>horse</string>
		<string>house</string>
	</array>
	<array>
		<string>igloo</string>
		<string>inchworm</string>
		<string>infant</string>
		<string>inn</string>
		<string>insect</string>
	</array>
	<array>
		<string>jam</string>
		<string>jellyfish</string>
		<string>jet</string>
		<string>jump</string>
		<string>jungle</string>
	</array>
	<array>
		<string>kettle</string>
		<string>key</string>
		<string>king</string>
		<string>kite</string>
	</array>
	<array>
		<string>lad</string>
		<string>lag</string>
		<string>lamp</string>
		<string>lap</string>
		<string>leaf</string>
		<string>lemon</string>
		<string>log</string>
	</array>
	<array>
		<string>mad</string>
		<string>man</string>
		<string>map</string>
		<string>mat</string>
		<string>moon</string>
		<string>mountain</string>
		<string>mouse</string>
	</array>
	<array>
		<string>nag</string>
		<string>nail</string>
		<string>nap</string>
		<string>nine</string>
		<string>nose</string>
		<string>now</string>
		<string>nurse</string>
	</array>
	<array>
		<string>orange</string>
		<string>ostrich</string>
		<string>owl</string>
		<string>ox</string>
	</array>
	<array>
		<string>pad</string>
		<string>pam</string>
		<string>pan</string>
		<string>pant</string>
		<string>paper</string>
		<string>pat</string>
		<string>pen</string>
		<string>piano</string>
		<string>pig</string>
	</array>
	<array>
		<string>quarter</string>
		<string>queen</string>
		<string>question</string>
		<string>quilt</string>
	</array>
	<array>
		<string>rabbit</string>
		<string>rag</string>
		<string>rain</string>
		<string>rat</string>
		<string>river</string>
		<string>rock</string>
	</array>
	<array>
		<string>sad</string>
		<string>sat</string>
		<string>school</string>
		<string>six</string>
		<string>slide</string>
		<string>sun</string>
	</array>
	<array>
		<string>tag</string>
		<string>tan</string>
		<string>tap</string>
		<string>taxi</string>
		<string>toy</string>
		<string>train</string>
		<string>tree</string>
	</array>
	<array>
		<string>umpire</string>
		<string>under</string>
		<string>unicycle</string>
		<string>up</string>
	</array>
	<array>
		<string>van</string>
		<string>vest</string>
		<string>violin</string>
	</array>
	<array>
		<string>wat</string>
		<string>watch</string>
		<string>water</string>
		<string>we</string>
		<string>wheel</string>
		<string>wolf</string>
	</array>
	<array/>
	<array>
		<string>yacht</string>
		<string>yam</string>
		<string>yan</string>
		<string>yard</string>
		<string>yarn</string>
		<string>yoyo</string>
	</array>
	<array>
		<string>zan</string>
		<string>zigzag</string>
		<string>zipper</string>
		<string>zoo</string>
		<string>zucchini</string>
	</array>
</array>
</plist>
