<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chest.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,853},{509,485}}</string>
			<key>offset</key>
			<string>{124,-154}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{509,404},{509,485}}</string>
			<key>sourceSize</key>
			<string>{1279,985}</string>
		</dict>
		<key>chest_half_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{1179,0},{715,665}}</string>
			<key>offset</key>
			<string>{124,-64}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{406,224},{715,665}}</string>
			<key>sourceSize</key>
			<string>{1279,985}</string>
		</dict>
		<key>chest_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{1177,851}}</string>
			<key>offset</key>
			<string>{51,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{102,38},{1177,851}}</string>
			<key>sourceSize</key>
			<string>{1279,985}</string>
		</dict>
		<key>face</key>
		<dict>
			<key>frame</key>
			<string>{{1549,995},{326,380}}</string>
			<key>offset</key>
			<string>{-13,58}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,0},{326,380}}</string>
			<key>sourceSize</key>
			<string>{448,496}</string>
		</dict>
		<key>foot</key>
		<dict>
			<key>frame</key>
			<string>{{1167,995},{326,380}}</string>
			<key>offset</key>
			<string>{-13,58}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,0},{326,380}}</string>
			<key>sourceSize</key>
			<string>{448,496}</string>
		</dict>
		<key>forehead</key>
		<dict>
			<key>frame</key>
			<string>{{1561,667},{326,380}}</string>
			<key>offset</key>
			<string>{-13,58}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,0},{326,380}}</string>
			<key>sourceSize</key>
			<string>{448,496}</string>
		</dict>
		<key>one_finger</key>
		<dict>
			<key>frame</key>
			<string>{{1179,667},{326,380}}</string>
			<key>offset</key>
			<string>{-13,58}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,0},{326,380}}</string>
			<key>sourceSize</key>
			<string>{448,496}</string>
		</dict>
		<key>ten_finger</key>
		<dict>
			<key>frame</key>
			<string>{{839,853},{326,380}}</string>
			<key>offset</key>
			<string>{-13,58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,0},{326,380}}</string>
			<key>sourceSize</key>
			<string>{448,496}</string>
		</dict>
		<key>two_feet</key>
		<dict>
			<key>frame</key>
			<string>{{511,853},{326,380}}</string>
			<key>offset</key>
			<string>{-13,58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,0},{326,380}}</string>
			<key>sourceSize</key>
			<string>{448,496}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>found-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{1941,1338}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c6bce5fb66a590c4bbde5216808cd19b:08aa59018273c07af6c0b55ea00fda4a:363eaef0442ff17c6bf8cdc2b45b4497$</string>
		<key>textureFileName</key>
		<string>found-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
