<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hamster-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,0},{193,193}}</string>
                <key>offset</key>
                <string>{-22,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{193,193}}</string>
                <key>sourceSize</key>
                <string>{267,283}</string>
            </dict>
            <key>Hamster-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,357},{172,195}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,41},{172,195}}</string>
                <key>sourceSize</key>
                <string>{308,337}</string>
            </dict>
            <key>Hamster-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,195},{193,192}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,51},{193,192}}</string>
                <key>sourceSize</key>
                <string>{319,332}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,0},{377,355}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,355}}</string>
                <key>sourceSize</key>
                <string>{385,355}</string>
            </dict>
            <key>mud.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,357},{241,73}}</string>
                <key>offset</key>
                <string>{-13,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,127},{241,73}}</string>
                <key>sourceSize</key>
                <string>{267,245}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{377,355}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,355}}</string>
                <key>sourceSize</key>
                <string>{385,355}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hamster_texture-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{951,529}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5de1b32ab688986a5a05b91d5bb661c:3353bdd3fb083c76d74d545f2658ffa2:a098fa9f2ac52f7a3c6cb635df3f8f38$</string>
            <key>textureFileName</key>
            <string>hamster_texture-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
