<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>failed_cat.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {301, 254}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{301, 254}</string>
			<key>spriteSourceSize</key>
			<string>{305, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 700}, {254, 301}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>failed_fan.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {535, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, 9}</string>
			<key>spriteSize</key>
			<string>{535, 202}</string>
			<key>spriteSourceSize</key>
			<string>{535, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{485, 390}, {535, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>failed_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {619, 308}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{619, 308}</string>
			<key>spriteSourceSize</key>
			<string>{619, 312}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{393, 81}, {619, 308}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_banner.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1024, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1024, 80}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1024, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_bubble.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{854, 641}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_coin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 60}</string>
			<key>spriteSourceSize</key>
			<string>{90, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{393, 390}, {90, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_life.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {49, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 48}</string>
			<key>spriteSourceSize</key>
			<string>{49, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 975}, {48, 49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>game_life_no.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {49, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 48}</string>
			<key>spriteSourceSize</key>
			<string>{49, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 975}, {48, 49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>game_pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{421, 491}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_pause_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{632, 593}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_reef.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {230, 273}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{230, 273}</string>
			<key>spriteSourceSize</key>
			<string>{230, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 700}, {230, 273}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_star.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {50, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 53}</string>
			<key>spriteSourceSize</key>
			<string>{50, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{485, 919}, {50, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_star_lost.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {50, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 53}</string>
			<key>spriteSourceSize</key>
			<string>{50, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{485, 866}, {50, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_title_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {188, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{188, 47}</string>
			<key>spriteSourceSize</key>
			<string>{190, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 975}, {188, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pass_coin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 7}, {127, 28}}</string>
			<key>spriteOffset</key>
			<string>{13, -1}</string>
			<key>spriteSize</key>
			<string>{127, 28}</string>
			<key>spriteSourceSize</key>
			<string>{165, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{393, 451}, {28, 127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pass_coin_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {61, 40}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{61, 40}</string>
			<key>spriteSourceSize</key>
			<string>{65, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{421, 451}, {61, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pass_life.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 7}, {105, 28}}</string>
			<key>spriteOffset</key>
			<string>{25, -1}</string>
			<key>spriteSize</key>
			<string>{105, 28}</string>
			<key>spriteSourceSize</key>
			<string>{165, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 593}, {28, 105}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pass_life_heart.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {37, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 36}</string>
			<key>spriteSourceSize</key>
			<string>{43, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 677}, {37, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pass_life_heart_no.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {37, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 36}</string>
			<key>spriteSourceSize</key>
			<string>{43, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{421, 552}, {36, 37}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pass_score.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {155, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{155, 28}</string>
			<key>spriteSourceSize</key>
			<string>{165, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 665}, {155, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pass_star.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 9}, {106, 106}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{106, 106}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{393, 593}, {106, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pass_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {619, 392}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{619, 392}</string>
			<key>spriteSourceSize</key>
			<string>{619, 394}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 81}, {392, 619}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_music_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 7}, {36, 45}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{36, 45}</string>
			<key>spriteSourceSize</key>
			<string>{50, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{952, 641}, {45, 36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_music_on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 7}, {36, 45}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{36, 45}</string>
			<key>spriteSourceSize</key>
			<string>{50, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{905, 641}, {45, 36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_replay.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {160, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{160, 47}</string>
			<key>spriteSourceSize</key>
			<string>{170, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{693, 593}, {160, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause_menu_replay_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {160, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{160, 47}</string>
			<key>spriteSourceSize</key>
			<string>{170, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{539, 859}, {47, 160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_resume.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {160, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{160, 47}</string>
			<key>spriteSourceSize</key>
			<string>{170, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{693, 641}, {160, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause_menu_resume_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {160, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{160, 47}</string>
			<key>spriteSourceSize</key>
			<string>{170, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{854, 593}, {160, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause_menu_sound_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {71, 51}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{71, 51}</string>
			<key>spriteSourceSize</key>
			<string>{75, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 593}, {51, 71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_sound_on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {71, 51}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{71, 51}</string>
			<key>spriteSourceSize</key>
			<string>{75, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 593}, {51, 71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_stage.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {166, 49}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{166, 49}</string>
			<key>spriteSourceSize</key>
			<string>{170, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{485, 700}, {49, 166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_stage_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {166, 49}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{166, 49}</string>
			<key>spriteSourceSize</key>
			<string>{170, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 693}, {49, 166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>stage_tiny.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{905, 677}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>bubble_texture</string>
		<key>textureFileName</key>
		<string>bubble_texture-ipad.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>