<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>failed_cat.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {602, 506}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{602, 506}</string>
			<key>spriteSourceSize</key>
			<string>{610, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1400}, {506, 602}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>failed_fan.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {1070, 404}}</string>
			<key>spriteOffset</key>
			<string>{0, 19}</string>
			<key>spriteSize</key>
			<string>{1070, 404}</string>
			<key>spriteSourceSize</key>
			<string>{1070, 444}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{970, 780}, {1070, 404}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>failed_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {1236, 616}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{1236, 616}</string>
			<key>spriteSourceSize</key>
			<string>{1238, 624}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 162}, {1236, 616}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_banner.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2048, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2048, 160}</string>
			<key>spriteSourceSize</key>
			<string>{2048, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {2048, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_bubble.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1708, 1282}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_coin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 120}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 780}, {180, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_life.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {98, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{98, 94}</string>
			<key>spriteSourceSize</key>
			<string>{98, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 1950}, {94, 98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>game_life_no.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {98, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{98, 94}</string>
			<key>spriteSourceSize</key>
			<string>{98, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{508, 1950}, {94, 98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>game_pause.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 982}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_pause_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1264, 1186}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_reef.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {460, 548}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{460, 548}</string>
			<key>spriteSourceSize</key>
			<string>{460, 550}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{508, 1400}, {460, 548}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_star.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {100, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 104}</string>
			<key>spriteSourceSize</key>
			<string>{100, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{970, 1838}, {100, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_star_lost.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {100, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 104}</string>
			<key>spriteSourceSize</key>
			<string>{100, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{970, 1732}, {100, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_title_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 9}, {376, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{376, 94}</string>
			<key>spriteSourceSize</key>
			<string>{380, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{700, 1950}, {376, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pass_coin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 16}, {254, 54}}</string>
			<key>spriteOffset</key>
			<string>{27, -3}</string>
			<key>spriteSize</key>
			<string>{254, 54}</string>
			<key>spriteSourceSize</key>
			<string>{330, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 902}, {54, 254}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pass_coin_icon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {122, 78}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{122, 78}</string>
			<key>spriteSourceSize</key>
			<string>{130, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 902}, {122, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pass_life.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{112, 14}, {206, 54}}</string>
			<key>spriteOffset</key>
			<string>{50, -1}</string>
			<key>spriteSize</key>
			<string>{206, 54}</string>
			<key>spriteSourceSize</key>
			<string>{330, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1000, 1186}, {54, 206}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pass_life_heart.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {76, 74}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{76, 74}</string>
			<key>spriteSourceSize</key>
			<string>{86, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1900, 1354}, {76, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pass_life_heart_no.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {76, 74}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{76, 74}</string>
			<key>spriteSourceSize</key>
			<string>{86, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 1104}, {74, 76}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pass_score.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 12}, {306, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{306, 54}</string>
			<key>spriteSourceSize</key>
			<string>{330, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 1330}, {306, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pass_star.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 18}, {212, 212}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{212, 212}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 1186}, {212, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pass_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {1236, 784}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{1236, 784}</string>
			<key>spriteSourceSize</key>
			<string>{1238, 788}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 162}, {784, 1236}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_music_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 14}, {70, 92}}</string>
			<key>spriteOffset</key>
			<string>{5, -5}</string>
			<key>spriteSize</key>
			<string>{70, 92}</string>
			<key>spriteSourceSize</key>
			<string>{100, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1904, 1282}, {92, 70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_music_on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 14}, {70, 92}}</string>
			<key>spriteOffset</key>
			<string>{5, -5}</string>
			<key>spriteSize</key>
			<string>{70, 92}</string>
			<key>spriteSourceSize</key>
			<string>{100, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1810, 1282}, {92, 70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_replay.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {320, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{320, 94}</string>
			<key>spriteSourceSize</key>
			<string>{340, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1386, 1186}, {320, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause_menu_replay_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {320, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{320, 94}</string>
			<key>spriteSourceSize</key>
			<string>{340, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1078, 1718}, {94, 320}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_resume.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {320, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{320, 94}</string>
			<key>spriteSourceSize</key>
			<string>{340, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1386, 1282}, {320, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause_menu_resume_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {320, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{320, 94}</string>
			<key>spriteSourceSize</key>
			<string>{340, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1708, 1186}, {320, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pause_menu_sound_off.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {142, 102}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{142, 102}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1160, 1186}, {102, 142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_sound_on.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {142, 102}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{142, 102}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 1186}, {102, 142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_stage.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {330, 100}}</string>
			<key>spriteOffset</key>
			<string>{5, -5}</string>
			<key>spriteSize</key>
			<string>{330, 100}</string>
			<key>spriteSourceSize</key>
			<string>{340, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{970, 1400}, {100, 330}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>pause_menu_stage_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {330, 100}}</string>
			<key>spriteOffset</key>
			<string>{5, -5}</string>
			<key>spriteSize</key>
			<string>{330, 100}</string>
			<key>spriteSourceSize</key>
			<string>{340, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1072, 1386}, {100, 330}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>stage_tiny.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {88, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 88}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1810, 1354}, {88, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>bubble_texture</string>
		<key>textureFileName</key>
		<string>bubble_texture-ipadhd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>