<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sushi</key>
            <dict>
                <key>frame</key>
                <string>{{1531,118},{135,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,110}}</string>
                <key>sourceSize</key>
                <string>{135,110}</string>
            </dict>
            <key>cake</key>
            <dict>
                <key>frame</key>
                <string>{{1600,230},{197,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,180}}</string>
                <key>sourceSize</key>
                <string>{197,180}</string>
            </dict>
            <key>cat</key>
            <dict>
                <key>frame</key>
                <string>{{1635,429},{186,163}}</string>
                <key>offset</key>
                <string>{37,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,46},{186,163}}</string>
                <key>sourceSize</key>
                <string>{260,209}</string>
            </dict>
            <key>cat-1</key>
            <dict>
                <key>frame</key>
                <string>{{1039,281},{240,193}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{240,193}}</string>
                <key>sourceSize</key>
                <string>{260,209}</string>
            </dict>
            <key>cookie</key>
            <dict>
                <key>frame</key>
                <string>{{1594,0},{143,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,88}}</string>
                <key>sourceSize</key>
                <string>{143,88}</string>
            </dict>
            <key>dog</key>
            <dict>
                <key>frame</key>
                <string>{{1416,247},{205,182}}</string>
                <key>offset</key>
                <string>{-10,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{205,182}}</string>
                <key>sourceSize</key>
                <string>{225,224}</string>
            </dict>
            <key>dog-1</key>
            <dict>
                <key>frame</key>
                <string>{{1234,281},{213,180}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{213,180}}</string>
                <key>sourceSize</key>
                <string>{225,224}</string>
            </dict>
            <key>dog-2</key>
            <dict>
                <key>frame</key>
                <string>{{1739,0},{201,174}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{201,174}}</string>
                <key>sourceSize</key>
                <string>{225,224}</string>
            </dict>
            <key>dog-3</key>
            <dict>
                <key>frame</key>
                <string>{{1782,203},{185,180}}</string>
                <key>offset</key>
                <string>{-20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{185,180}}</string>
                <key>sourceSize</key>
                <string>{225,224}</string>
            </dict>
            <key>egg</key>
            <dict>
                <key>frame</key>
                <string>{{1388,496},{143,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,93}}</string>
                <key>sourceSize</key>
                <string>{143,93}</string>
            </dict>
            <key>fish</key>
            <dict>
                <key>frame</key>
                <string>{{1234,496},{152,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,95}}</string>
                <key>sourceSize</key>
                <string>{152,95}</string>
            </dict>
            <key>ice_cream</key>
            <dict>
                <key>frame</key>
                <string>{{1533,454},{100,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,117}}</string>
                <key>sourceSize</key>
                <string>{100,117}</string>
            </dict>
            <key>nail</key>
            <dict>
                <key>frame</key>
                <string>{{1287,120},{125,242}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,29},{125,242}}</string>
                <key>sourceSize</key>
                <string>{181,292}</string>
            </dict>
            <key>necklace</key>
            <dict>
                <key>frame</key>
                <string>{{807,299},{230,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,298}}</string>
                <key>sourceSize</key>
                <string>{230,298}</string>
            </dict>
            <key>needle</key>
            <dict>
                <key>frame</key>
                <string>{{1024,0},{118,432}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,432}}</string>
                <key>sourceSize</key>
                <string>{120,432}</string>
            </dict>
            <key>net</key>
            <dict>
                <key>frame</key>
                <string>{{791,0},{297,231}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{297,231}}</string>
                <key>sourceSize</key>
                <string>{327,271}</string>
            </dict>
            <key>newspaper</key>
            <dict>
                <key>frame</key>
                <string>{{487,0},{346,302}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{346,302}}</string>
                <key>sourceSize</key>
                <string>{350,302}</string>
            </dict>
            <key>notebook</key>
            <dict>
                <key>frame</key>
                <string>{{487,348},{239,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,318}}</string>
                <key>sourceSize</key>
                <string>{239,318}</string>
            </dict>
            <key>nut</key>
            <dict>
                <key>frame</key>
                <string>{{1024,120},{159,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,261}}</string>
                <key>sourceSize</key>
                <string>{159,261}</string>
            </dict>
            <key>rice</key>
            <dict>
                <key>frame</key>
                <string>{{1458,0},{134,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,116}}</string>
                <key>sourceSize</key>
                <string>{134,116}</string>
            </dict>
            <key>shine</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{542,485}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,31},{542,485}}</string>
                <key>sourceSize</key>
                <string>{634,523}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objects-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1992,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:915b6940d3917341055d44ea13732c30:a7dc107b7dd6d5ff1f8758f7e8488c3f:e5dae7ffe4c52985589021a4ec5d589a$</string>
            <key>textureFileName</key>
            <string>objects-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
