<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sushi</key>
            <dict>
                <key>frame</key>
                <string>{{3048,234},{270,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,220}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>cake</key>
            <dict>
                <key>frame</key>
                <string>{{3190,456},{393,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,360}}</string>
                <key>sourceSize</key>
                <string>{393,360}</string>
            </dict>
            <key>cat</key>
            <dict>
                <key>frame</key>
                <string>{{3256,851},{371,324}}</string>
                <key>offset</key>
                <string>{74,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,94},{371,324}}</string>
                <key>sourceSize</key>
                <string>{519,418}</string>
            </dict>
            <key>cat-1</key>
            <dict>
                <key>frame</key>
                <string>{{2074,555},{479,386}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,32},{479,386}}</string>
                <key>sourceSize</key>
                <string>{519,418}</string>
            </dict>
            <key>cookie</key>
            <dict>
                <key>frame</key>
                <string>{{3172,0},{285,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,176}}</string>
                <key>sourceSize</key>
                <string>{285,176}</string>
            </dict>
            <key>dog</key>
            <dict>
                <key>frame</key>
                <string>{{2824,488},{408,364}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{408,364}}</string>
                <key>sourceSize</key>
                <string>{450,448}</string>
            </dict>
            <key>dog-1</key>
            <dict>
                <key>frame</key>
                <string>{{2462,555},{426,360}}</string>
                <key>offset</key>
                <string>{-12,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,88},{426,360}}</string>
                <key>sourceSize</key>
                <string>{450,448}</string>
            </dict>
            <key>dog-2</key>
            <dict>
                <key>frame</key>
                <string>{{3459,0},{400,346}}</string>
                <key>offset</key>
                <string>{-25,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,102},{400,346}}</string>
                <key>sourceSize</key>
                <string>{450,448}</string>
            </dict>
            <key>dog-3</key>
            <dict>
                <key>frame</key>
                <string>{{3552,402},{370,358}}</string>
                <key>offset</key>
                <string>{-40,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{370,358}}</string>
                <key>sourceSize</key>
                <string>{450,448}</string>
            </dict>
            <key>egg</key>
            <dict>
                <key>frame</key>
                <string>{{2767,983},{285,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,185}}</string>
                <key>sourceSize</key>
                <string>{285,185}</string>
            </dict>
            <key>fish</key>
            <dict>
                <key>frame</key>
                <string>{{2462,983},{303,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,189}}</string>
                <key>sourceSize</key>
                <string>{303,189}</string>
            </dict>
            <key>ice_cream</key>
            <dict>
                <key>frame</key>
                <string>{{3054,898},{200,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,233}}</string>
                <key>sourceSize</key>
                <string>{200,233}</string>
            </dict>
            <key>nail</key>
            <dict>
                <key>frame</key>
                <string>{{2562,238},{248,484}}</string>
                <key>offset</key>
                <string>{24,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,58},{248,484}}</string>
                <key>sourceSize</key>
                <string>{362,584}</string>
            </dict>
            <key>necklace</key>
            <dict>
                <key>frame</key>
                <string>{{1577,0},{460,596}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,596}}</string>
                <key>sourceSize</key>
                <string>{460,596}</string>
            </dict>
            <key>needle</key>
            <dict>
                <key>frame</key>
                <string>{{2039,0},{236,863}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{236,863}}</string>
                <key>sourceSize</key>
                <string>{240,863}</string>
            </dict>
            <key>net</key>
            <dict>
                <key>frame</key>
                <string>{{1610,598},{592,462}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,38},{592,462}}</string>
                <key>sourceSize</key>
                <string>{654,542}</string>
            </dict>
            <key>newspaper</key>
            <dict>
                <key>frame</key>
                <string>{{972,0},{689,603}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{689,603}}</string>
                <key>sourceSize</key>
                <string>{699,603}</string>
            </dict>
            <key>notebook</key>
            <dict>
                <key>frame</key>
                <string>{{972,691},{478,636}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,636}}</string>
                <key>sourceSize</key>
                <string>{478,636}</string>
            </dict>
            <key>nut</key>
            <dict>
                <key>frame</key>
                <string>{{2039,238},{315,521}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,521}}</string>
                <key>sourceSize</key>
                <string>{317,521}</string>
            </dict>
            <key>rice</key>
            <dict>
                <key>frame</key>
                <string>{{2904,0},{266,232}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,232}}</string>
                <key>sourceSize</key>
                <string>{268,232}</string>
            </dict>
            <key>shine</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1090,970}}</string>
                <key>offset</key>
                <string>{30,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,61},{1090,970}}</string>
                <key>sourceSize</key>
                <string>{1268,1046}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objects-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{3984,1200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:915b6940d3917341055d44ea13732c30:a7dc107b7dd6d5ff1f8758f7e8488c3f:e5dae7ffe4c52985589021a4ec5d589a$</string>
            <key>textureFileName</key>
            <string>objects-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
