<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hen-outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{191,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,187}}</string>
                <key>sourceSize</key>
                <string>{191,187}</string>
            </dict>
            <key>hen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,189},{185,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,181}}</string>
                <key>sourceSize</key>
                <string>{185,181}</string>
            </dict>
            <key>hog-outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,167},{180,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,153}}</string>
                <key>sourceSize</key>
                <string>{180,153}</string>
            </dict>
            <key>hog.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,346},{174,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,147}}</string>
                <key>sourceSize</key>
                <string>{174,147}</string>
            </dict>
            <key>horse-outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,170},{167,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,174}}</string>
                <key>sourceSize</key>
                <string>{167,174}</string>
            </dict>
            <key>horse.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{161,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,168}}</string>
                <key>sourceSize</key>
                <string>{161,168}</string>
            </dict>
            <key>house-outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{185,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,165}}</string>
                <key>sourceSize</key>
                <string>{185,165}</string>
            </dict>
            <key>house.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,322},{179,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,159}}</string>
                <key>sourceSize</key>
                <string>{179,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_objects-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{542,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c51b62198d8cce26b30979dd45ddb847:4398fea6a520b0122dbe1259b2a66b40:6148fa37b57d41f3b7777a876c74a650$</string>
            <key>textureFileName</key>
            <string>h_objects-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
