<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hen-outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{381,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,374}}</string>
                <key>sourceSize</key>
                <string>{381,374}</string>
            </dict>
            <key>hen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{369,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,362}}</string>
                <key>sourceSize</key>
                <string>{369,362}</string>
            </dict>
            <key>hog-outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,332},{360,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,306}}</string>
                <key>sourceSize</key>
                <string>{360,306}</string>
            </dict>
            <key>hog.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,686},{348,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,294}}</string>
                <key>sourceSize</key>
                <string>{348,294}</string>
            </dict>
            <key>horse-outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,337},{334,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,347}}</string>
                <key>sourceSize</key>
                <string>{334,347}</string>
            </dict>
            <key>horse.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,0},{322,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,335}}</string>
                <key>sourceSize</key>
                <string>{322,335}</string>
            </dict>
            <key>house-outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,0},{370,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,330}}</string>
                <key>sourceSize</key>
                <string>{370,330}</string>
            </dict>
            <key>house.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,640},{357,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,318}}</string>
                <key>sourceSize</key>
                <string>{357,318}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h_objects-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1079,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c51b62198d8cce26b30979dd45ddb847:4398fea6a520b0122dbe1259b2a66b40:6148fa37b57d41f3b7777a876c74a650$</string>
            <key>textureFileName</key>
            <string>h_objects-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
