<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>card.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{442,535}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{442,535}}</string>
			<key>sourceSize</key>
			<string>{442,535}</string>
		</dict>
		<key>close.png</key>
		<dict>
			<key>frame</key>
			<string>{{1821,316},{163,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{163,163}}</string>
			<key>sourceSize</key>
			<string>{163,165}</string>
		</dict>
		<key>menu_button_N.png</key>
		<dict>
			<key>frame</key>
			<string>{{1834,157},{154,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,155}}</string>
			<key>sourceSize</key>
			<string>{154,155}</string>
		</dict>
		<key>menu_button_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{1834,0},{154,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,155}}</string>
			<key>sourceSize</key>
			<string>{154,155}</string>
		</dict>
		<key>plate1.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,664},{413,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,156}}</string>
			<key>sourceSize</key>
			<string>{413,156}</string>
		</dict>
		<key>plate0.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,506},{413,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,156}}</string>
			<key>sourceSize</key>
			<string>{413,156}</string>
		</dict>
		<key>plate2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1419,158},{413,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,156}}</string>
			<key>sourceSize</key>
			<string>{413,156}</string>
		</dict>
		<key>plate3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,158},{413,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,156}}</string>
			<key>sourceSize</key>
			<string>{413,156}</string>
		</dict>
		<key>plate4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1419,0},{413,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,156}}</string>
			<key>sourceSize</key>
			<string>{413,156}</string>
		</dict>
		<key>plate5.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,348},{413,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,156}}</string>
			<key>sourceSize</key>
			<string>{413,156}</string>
		</dict>
		<key>plate6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,695},{413,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,156}}</string>
			<key>sourceSize</key>
			<string>{413,156}</string>
		</dict>
		<key>plate7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,0},{413,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,156}}</string>
			<key>sourceSize</key>
			<string>{413,156}</string>
		</dict>
		<key>plate8.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,190},{413,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,156}}</string>
			<key>sourceSize</key>
			<string>{413,156}</string>
		</dict>
		<key>plate9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,537},{413,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,156}}</string>
			<key>sourceSize</key>
			<string>{413,156}</string>
		</dict>
		<key>star_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,316},{288,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,277}}</string>
			<key>sourceSize</key>
			<string>{288,277}</string>
		</dict>
		<key>word_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,0},{558,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{558,188}}</string>
			<key>sourceSize</key>
			<string>{558,188}</string>
		</dict>
		<key>word_panel1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1502,712},{334,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,130}}</string>
			<key>sourceSize</key>
			<string>{334,130}</string>
		</dict>
		<key>word_panel0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1531,580},{334,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,130}}</string>
			<key>sourceSize</key>
			<string>{334,130}</string>
		</dict>
		<key>word_panel2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1195,580},{334,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,130}}</string>
			<key>sourceSize</key>
			<string>{334,130}</string>
		</dict>
		<key>word_panel3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1166,727},{334,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,130}}</string>
			<key>sourceSize</key>
			<string>{334,130}</string>
		</dict>
		<key>word_panel4.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,727},{334,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,130}}</string>
			<key>sourceSize</key>
			<string>{334,130}</string>
		</dict>
		<key>word_panel5.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,595},{334,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,130}}</string>
			<key>sourceSize</key>
			<string>{334,130}</string>
		</dict>
		<key>word_panel6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1485,448},{334,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,130}}</string>
			<key>sourceSize</key>
			<string>{334,130}</string>
		</dict>
		<key>word_panel7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1485,316},{334,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,130}}</string>
			<key>sourceSize</key>
			<string>{334,130}</string>
		</dict>
		<key>word_panel8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1149,448},{334,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,130}}</string>
			<key>sourceSize</key>
			<string>{334,130}</string>
		</dict>
		<key>word_panel9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1149,316},{334,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,130}}</string>
			<key>sourceSize</key>
			<string>{334,130}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>image_match_objects-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{1988,857}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4c0c6353e282af406b218dc4ed3b1c77:0f7b6c182d9f4b3a7e813abbb51b7613:ad7db4e78ea5669930b27332ca5054ce$</string>
		<key>textureFileName</key>
		<string>image_match_objects-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
