<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array/>
	<array>
		<string>bear</string>
		<string>bird</string>
		<string>boat</string>
		<string>bus</string>
	</array>
	<array>
		<string>car</string>
		<string>cake</string>
		<string>cap</string>
		<string>cow</string>
	</array>
	<array>
		<string>deer</string>
		<string>dog</string>
		<string>dolphin</string>
		<string>duck</string>
	</array>
	<array/>
	<array>
		<string>flamingo</string>
		<string>flower</string>
		<string>fox</string>
		<string>frog</string>
	</array>
	<array>
		<string>giraffe</string>
		<string>girl</string>
		<string>goat</string>
		<string>gorilla</string>
	</array>
	<array>
		<string>helicopter</string>
		<string>hen</string>
		<string>horse</string>
		<string>house</string>
	</array>
	<array/>
	<array>
		<string>jacket</string>
		<string>jellyfish</string>
		<string>jump</string>
		<string>jungle</string>
	</array>
	<array>
		<string>kettle</string>
		<string>kayak</string>
		<string>key</string>
		<string>king</string>
	</array>
	<array>
		<string>lake</string>
		<string>lawn</string>
		<string>lemon</string>
		<string>log</string>
	</array>
	<array/>
	<array/>
	<array>
		<string>orange</string>
		<string>ostrich</string>
		<string>otter</string>
		<string>owl</string>
	</array>
	<array>
		<string>pants</string>
		<string>pen</string>
		<string>piano</string>
		<string>pig</string>
	</array>
	<array>
		<string>quarter</string>
		<string>queen</string>
		<string>question</string>
		<string>quilt</string>
	</array>
	<array>
		<string>rabbit</string>
		<string>rain</string>
		<string>river</string>
		<string>rock</string>
	</array>
	<array>
		<string>sea</string>
		<string>sky</string>
		<string>star</string>
		<string>sun</string>
	</array>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array/>
	<array>
		<string>zigzag</string>
		<string>zipper</string>
		<string>zoo</string>
		<string>zucchini</string>
	</array>
</array>
</plist>
