<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>card.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{221,268}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,268}}</string>
			<key>sourceSize</key>
			<string>{221,268}</string>
		</dict>
		<key>close.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,160},{82,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{82,81}}</string>
			<key>sourceSize</key>
			<string>{82,83}</string>
		</dict>
		<key>menu_button_N.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,80},{77,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,78}}</string>
			<key>sourceSize</key>
			<string>{77,78}</string>
		</dict>
		<key>menu_button_P.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,0},{77,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,78}}</string>
			<key>sourceSize</key>
			<string>{77,78}</string>
		</dict>
		<key>plate1.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,336},{207,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,78}}</string>
			<key>sourceSize</key>
			<string>{207,78}</string>
		</dict>
		<key>plate0.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,256},{207,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,78}}</string>
			<key>sourceSize</key>
			<string>{207,78}</string>
		</dict>
		<key>plate2.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,80},{207,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,78}}</string>
			<key>sourceSize</key>
			<string>{207,78}</string>
		</dict>
		<key>plate3.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,80},{207,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,78}}</string>
			<key>sourceSize</key>
			<string>{207,78}</string>
		</dict>
		<key>plate4.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,0},{207,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,78}}</string>
			<key>sourceSize</key>
			<string>{207,78}</string>
		</dict>
		<key>plate5.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,176},{207,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,78}}</string>
			<key>sourceSize</key>
			<string>{207,78}</string>
		</dict>
		<key>plate6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,350},{207,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,78}}</string>
			<key>sourceSize</key>
			<string>{207,78}</string>
		</dict>
		<key>plate7.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,0},{207,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,78}}</string>
			<key>sourceSize</key>
			<string>{207,78}</string>
		</dict>
		<key>plate8.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,96},{207,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,78}}</string>
			<key>sourceSize</key>
			<string>{207,78}</string>
		</dict>
		<key>plate9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,270},{207,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,78}}</string>
			<key>sourceSize</key>
			<string>{207,78}</string>
		</dict>
		<key>star_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,160},{144,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,139}}</string>
			<key>sourceSize</key>
			<string>{144,139}</string>
		</dict>
		<key>word_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,0},{279,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{279,94}}</string>
			<key>sourceSize</key>
			<string>{279,94}</string>
		</dict>
		<key>word_panel1.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,361},{167,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,65}}</string>
			<key>sourceSize</key>
			<string>{167,65}</string>
		</dict>
		<key>word_panel0.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,294},{167,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,65}}</string>
			<key>sourceSize</key>
			<string>{167,65}</string>
		</dict>
		<key>word_panel2.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,294},{167,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,65}}</string>
			<key>sourceSize</key>
			<string>{167,65}</string>
		</dict>
		<key>word_panel3.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,368},{167,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,65}}</string>
			<key>sourceSize</key>
			<string>{167,65}</string>
		</dict>
		<key>word_panel4.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,368},{167,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,65}}</string>
			<key>sourceSize</key>
			<string>{167,65}</string>
		</dict>
		<key>word_panel5.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,301},{167,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,65}}</string>
			<key>sourceSize</key>
			<string>{167,65}</string>
		</dict>
		<key>word_panel6.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,227},{167,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,65}}</string>
			<key>sourceSize</key>
			<string>{167,65}</string>
		</dict>
		<key>word_panel7.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,160},{167,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,65}}</string>
			<key>sourceSize</key>
			<string>{167,65}</string>
		</dict>
		<key>word_panel8.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,227},{167,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,65}}</string>
			<key>sourceSize</key>
			<string>{167,65}</string>
		</dict>
		<key>word_panel9.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,160},{167,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,65}}</string>
			<key>sourceSize</key>
			<string>{167,65}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>image_match_objects-ipad.pvr.ccz</string>
		<key>size</key>
		<string>{999,433}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4c0c6353e282af406b218dc4ed3b1c77:0f7b6c182d9f4b3a7e813abbb51b7613:ad7db4e78ea5669930b27332ca5054ce$</string>
		<key>textureFileName</key>
		<string>image_match_objects-ipad.pvr.ccz</string>
	</dict>
</dict>
</plist>
