<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,143},{36,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,35}}</string>
			<key>sourceSize</key>
			<string>{36,35}</string>
		</dict>
		<key>a1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,74},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>a2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,0},{36,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,35}}</string>
			<key>sourceSize</key>
			<string>{36,35}</string>
		</dict>
		<key>a2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,252},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>b1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,0},{33,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,35}}</string>
			<key>sourceSize</key>
			<string>{33,35}</string>
		</dict>
		<key>b1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,103},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>b2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,37},{33,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,35}}</string>
			<key>sourceSize</key>
			<string>{33,35}</string>
		</dict>
		<key>b2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,140},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>c1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,223},{35,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,36}}</string>
			<key>sourceSize</key>
			<string>{35,36}</string>
		</dict>
		<key>c1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,180},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>c2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,185},{35,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,36}}</string>
			<key>sourceSize</key>
			<string>{35,36}</string>
		</dict>
		<key>c2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,185},{35,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,36}}</string>
			<key>sourceSize</key>
			<string>{35,36}</string>
		</dict>
		<key>d1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,0},{34,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,35}}</string>
			<key>sourceSize</key>
			<string>{34,35}</string>
		</dict>
		<key>d1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,177},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>d2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,37},{34,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,35}}</string>
			<key>sourceSize</key>
			<string>{34,35}</string>
		</dict>
		<key>d2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,214},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>e1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,0},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>e1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,74},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>e2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,37},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>e2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,252},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>f1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,177},{28,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,35}}</string>
			<key>sourceSize</key>
			<string>{28,35}</string>
		</dict>
		<key>f1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,103},{20,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,35}}</string>
			<key>sourceSize</key>
			<string>{20,35}</string>
		</dict>
		<key>f2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,214},{28,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,35}}</string>
			<key>sourceSize</key>
			<string>{28,35}</string>
		</dict>
		<key>f2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,140},{20,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,35}}</string>
			<key>sourceSize</key>
			<string>{20,35}</string>
		</dict>
		<key>g1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,147},{35,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,36}}</string>
			<key>sourceSize</key>
			<string>{35,36}</string>
		</dict>
		<key>g1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,0},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>g2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,109},{35,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,36}}</string>
			<key>sourceSize</key>
			<string>{35,36}</string>
		</dict>
		<key>g2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,37},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>h1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,102},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>h1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,103},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>h2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,140},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>h2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,140},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>i1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,238},{14,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,34}}</string>
			<key>sourceSize</key>
			<string>{14,34}</string>
		</dict>
		<key>i1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,144},{14,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,36}}</string>
			<key>sourceSize</key>
			<string>{14,36}</string>
		</dict>
		<key>i2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,234},{14,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,34}}</string>
			<key>sourceSize</key>
			<string>{14,34}</string>
		</dict>
		<key>i2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,106},{14,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,36}}</string>
			<key>sourceSize</key>
			<string>{14,36}</string>
		</dict>
		<key>j1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,177},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>j1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,234},{17,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,43}}</string>
			<key>sourceSize</key>
			<string>{17,43}</string>
		</dict>
		<key>j2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,215},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>j2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,189},{17,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,43}}</string>
			<key>sourceSize</key>
			<string>{17,43}</string>
		</dict>
		<key>k1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,37},{36,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,35}}</string>
			<key>sourceSize</key>
			<string>{36,35}</string>
		</dict>
		<key>k1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,103},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>k2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,37},{36,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,35}}</string>
			<key>sourceSize</key>
			<string>{36,35}</string>
		</dict>
		<key>k2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,140},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>l1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,0},{28,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,35}}</string>
			<key>sourceSize</key>
			<string>{28,35}</string>
		</dict>
		<key>l1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,103},{14,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,35}}</string>
			<key>sourceSize</key>
			<string>{14,35}</string>
		</dict>
		<key>l2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,37},{28,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,35}}</string>
			<key>sourceSize</key>
			<string>{28,35}</string>
		</dict>
		<key>l2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,140},{14,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,35}}</string>
			<key>sourceSize</key>
			<string>{14,35}</string>
		</dict>
		<key>letterButton_H.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{106,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,107}}</string>
			<key>sourceSize</key>
			<string>{106,107}</string>
		</dict>
		<key>letterButton_N.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,109},{77,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14.5,14.5},{77,78}}</string>
			<key>sourceSize</key>
			<string>{106,107}</string>
		</dict>
		<key>m1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,0},{39,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,35}}</string>
			<key>sourceSize</key>
			<string>{39,35}</string>
		</dict>
		<key>m1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,74},{43,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,27}}</string>
			<key>sourceSize</key>
			<string>{43,27}</string>
		</dict>
		<key>m2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,106},{39,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,35}}</string>
			<key>sourceSize</key>
			<string>{39,35}</string>
		</dict>
		<key>m2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,254},{43,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,27}}</string>
			<key>sourceSize</key>
			<string>{43,27}</string>
		</dict>
		<key>n1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,104},{34,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,35}}</string>
			<key>sourceSize</key>
			<string>{34,35}</string>
		</dict>
		<key>n1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,176},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>n2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,217},{34,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,35}}</string>
			<key>sourceSize</key>
			<string>{34,35}</string>
		</dict>
		<key>n2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,72},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>o1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,227},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>o1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,76},{30,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,28}}</string>
			<key>sourceSize</key>
			<string>{30,28}</string>
		</dict>
		<key>o2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,189},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>o2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,76},{30,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,28}}</string>
			<key>sourceSize</key>
			<string>{30,28}</string>
		</dict>
		<key>p1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,141},{32,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,35}}</string>
			<key>sourceSize</key>
			<string>{32,35}</string>
		</dict>
		<key>p1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,178},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>p2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,178},{32,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,35}}</string>
			<key>sourceSize</key>
			<string>{32,35}</string>
		</dict>
		<key>p2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,215},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>q1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,230},{36,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,39}}</string>
			<key>sourceSize</key>
			<string>{36,39}</string>
		</dict>
		<key>q1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,215},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>q2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,189},{36,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,39}}</string>
			<key>sourceSize</key>
			<string>{36,39}</string>
		</dict>
		<key>q2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,103},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>r1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,104},{33,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,35}}</string>
			<key>sourceSize</key>
			<string>{33,35}</string>
		</dict>
		<key>r1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,209},{21,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,27}}</string>
			<key>sourceSize</key>
			<string>{21,27}</string>
		</dict>
		<key>r2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,141},{33,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,35}}</string>
			<key>sourceSize</key>
			<string>{33,35}</string>
		</dict>
		<key>r2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,137},{21,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,27}}</string>
			<key>sourceSize</key>
			<string>{21,27}</string>
		</dict>
		<key>s1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,38},{33,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,36}}</string>
			<key>sourceSize</key>
			<string>{33,36}</string>
		</dict>
		<key>s1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,74},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>s2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,0},{33,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,36}}</string>
			<key>sourceSize</key>
			<string>{33,36}</string>
		</dict>
		<key>s2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,74},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>t1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,217},{33,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,35}}</string>
			<key>sourceSize</key>
			<string>{33,35}</string>
		</dict>
		<key>t1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,101},{21,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,34}}</string>
			<key>sourceSize</key>
			<string>{21,34}</string>
		</dict>
		<key>t2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,180},{33,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,35}}</string>
			<key>sourceSize</key>
			<string>{33,35}</string>
		</dict>
		<key>t2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,0},{21,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,34}}</string>
			<key>sourceSize</key>
			<string>{21,34}</string>
		</dict>
		<key>u1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,143},{34,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,35}}</string>
			<key>sourceSize</key>
			<string>{34,35}</string>
		</dict>
		<key>u1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,251},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>u2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,180},{34,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,35}}</string>
			<key>sourceSize</key>
			<string>{34,35}</string>
		</dict>
		<key>u2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,73},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>v1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,217},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>v1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,74},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>v2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,180},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>v2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,251},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>w1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,0},{46,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,34}}</string>
			<key>sourceSize</key>
			<string>{46,34}</string>
		</dict>
		<key>w1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,254},{43,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,27}}</string>
			<key>sourceSize</key>
			<string>{43,27}</string>
		</dict>
		<key>w2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,37},{46,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,34}}</string>
			<key>sourceSize</key>
			<string>{46,34}</string>
		</dict>
		<key>w2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,254},{43,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,27}}</string>
			<key>sourceSize</key>
			<string>{43,27}</string>
		</dict>
		<key>x1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,177},{36,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,34}}</string>
			<key>sourceSize</key>
			<string>{36,34}</string>
		</dict>
		<key>x1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,74},{31,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,27}}</string>
			<key>sourceSize</key>
			<string>{31,27}</string>
		</dict>
		<key>x2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,214},{36,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,34}}</string>
			<key>sourceSize</key>
			<string>{36,34}</string>
		</dict>
		<key>x2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,252},{31,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,27}}</string>
			<key>sourceSize</key>
			<string>{31,27}</string>
		</dict>
		<key>y1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,0},{36,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,34}}</string>
			<key>sourceSize</key>
			<string>{36,34}</string>
		</dict>
		<key>y1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,144},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>y2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,36},{36,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,34}}</string>
			<key>sourceSize</key>
			<string>{36,34}</string>
		</dict>
		<key>y2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,36},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>z1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,108},{31,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,34}}</string>
			<key>sourceSize</key>
			<string>{31,34}</string>
		</dict>
		<key>z1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,250},{26,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,27}}</string>
			<key>sourceSize</key>
			<string>{26,27}</string>
		</dict>
		<key>z2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,72},{31,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,34}}</string>
			<key>sourceSize</key>
			<string>{31,34}</string>
		</dict>
		<key>z2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,205},{26,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,27}}</string>
			<key>sourceSize</key>
			<string>{26,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>letters-ipad.pvr.ccz</string>
		<key>size</key>
		<string>{499,281}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2d898a3cf7b8c6d1cc186424dc0410d7:776f6a824a2a90935459f5a079be7226:51bfd0b1c80f42359b731b8df1444544$</string>
		<key>textureFileName</key>
		<string>letters-ipad.pvr.ccz</string>
	</dict>
</dict>
</plist>
