<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,443},{72,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,69}}</string>
			<key>sourceSize</key>
			<string>{72,69}</string>
		</dict>
		<key>a1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,539},{59,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,54}}</string>
			<key>sourceSize</key>
			<string>{59,54}</string>
		</dict>
		<key>a2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,291},{72,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,69}}</string>
			<key>sourceSize</key>
			<string>{72,69}</string>
		</dict>
		<key>a2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,952},{59,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,54}}</string>
			<key>sourceSize</key>
			<string>{59,54}</string>
		</dict>
		<key>b1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,868},{66,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,69}}</string>
			<key>sourceSize</key>
			<string>{66,69}</string>
		</dict>
		<key>b1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,881},{57,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,69}}</string>
			<key>sourceSize</key>
			<string>{57,69}</string>
		</dict>
		<key>b2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,797},{66,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,69}}</string>
			<key>sourceSize</key>
			<string>{66,69}</string>
		</dict>
		<key>b2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,738},{57,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,69}}</string>
			<key>sourceSize</key>
			<string>{57,69}</string>
		</dict>
		<key>c1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,891},{69,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,72}}</string>
			<key>sourceSize</key>
			<string>{69,72}</string>
		</dict>
		<key>c1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,595},{58,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,54}}</string>
			<key>sourceSize</key>
			<string>{58,54}</string>
		</dict>
		<key>c2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,817},{69,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,72}}</string>
			<key>sourceSize</key>
			<string>{69,72}</string>
		</dict>
		<key>c2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,817},{69,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,72}}</string>
			<key>sourceSize</key>
			<string>{69,72}</string>
		</dict>
		<key>d1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,726},{67,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,69}}</string>
			<key>sourceSize</key>
			<string>{67,69}</string>
		</dict>
		<key>d1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,889},{58,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,69}}</string>
			<key>sourceSize</key>
			<string>{58,69}</string>
		</dict>
		<key>d2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,468},{67,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,69}}</string>
			<key>sourceSize</key>
			<string>{67,69}</string>
		</dict>
		<key>d2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,818},{58,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,69}}</string>
			<key>sourceSize</key>
			<string>{58,69}</string>
		</dict>
		<key>e1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,326},{60,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,69}}</string>
			<key>sourceSize</key>
			<string>{60,69}</string>
		</dict>
		<key>e1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,539},{59,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,54}}</string>
			<key>sourceSize</key>
			<string>{59,54}</string>
		</dict>
		<key>e2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,809},{60,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,69}}</string>
			<key>sourceSize</key>
			<string>{60,69}</string>
		</dict>
		<key>e2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,539},{59,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,54}}</string>
			<key>sourceSize</key>
			<string>{59,54}</string>
		</dict>
		<key>f1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,468},{56,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,69}}</string>
			<key>sourceSize</key>
			<string>{56,69}</string>
		</dict>
		<key>f1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,254},{39,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,70}}</string>
			<key>sourceSize</key>
			<string>{39,70}</string>
		</dict>
		<key>f2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,397},{56,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,69}}</string>
			<key>sourceSize</key>
			<string>{56,69}</string>
		</dict>
		<key>f2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,809},{39,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,70}}</string>
			<key>sourceSize</key>
			<string>{39,70}</string>
		</dict>
		<key>g1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,743},{70,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,72}}</string>
			<key>sourceSize</key>
			<string>{70,72}</string>
		</dict>
		<key>g1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,667},{57,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,69}}</string>
			<key>sourceSize</key>
			<string>{57,69}</string>
		</dict>
		<key>g2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,669},{70,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,72}}</string>
			<key>sourceSize</key>
			<string>{70,72}</string>
		</dict>
		<key>g2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,738},{57,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,69}}</string>
			<key>sourceSize</key>
			<string>{57,69}</string>
		</dict>
		<key>h1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,748},{67,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,68}}</string>
			<key>sourceSize</key>
			<string>{67,68}</string>
		</dict>
		<key>h1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,889},{57,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,69}}</string>
			<key>sourceSize</key>
			<string>{57,69}</string>
		</dict>
		<key>h2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,678},{67,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,68}}</string>
			<key>sourceSize</key>
			<string>{67,68}</string>
		</dict>
		<key>h2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,397},{57,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,69}}</string>
			<key>sourceSize</key>
			<string>{57,69}</string>
		</dict>
		<key>i1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,651},{28,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,68}}</string>
			<key>sourceSize</key>
			<string>{28,68}</string>
		</dict>
		<key>i1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,673},{27,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,71}}</string>
			<key>sourceSize</key>
			<string>{27,71}</string>
		</dict>
		<key>i2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,323},{28,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,68}}</string>
			<key>sourceSize</key>
			<string>{28,68}</string>
		</dict>
		<key>i2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,445},{27,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,71}}</string>
			<key>sourceSize</key>
			<string>{27,71}</string>
		</dict>
		<key>j1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,595},{57,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,70}}</string>
			<key>sourceSize</key>
			<string>{57,70}</string>
		</dict>
		<key>j1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,445},{34,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,86}}</string>
			<key>sourceSize</key>
			<string>{34,86}</string>
		</dict>
		<key>j2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,595},{57,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,70}}</string>
			<key>sourceSize</key>
			<string>{57,70}</string>
		</dict>
		<key>j2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,357},{34,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,86}}</string>
			<key>sourceSize</key>
			<string>{34,86}</string>
		</dict>
		<key>k1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,220},{72,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,69}}</string>
			<key>sourceSize</key>
			<string>{72,69}</string>
		</dict>
		<key>k1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,889},{60,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,69}}</string>
			<key>sourceSize</key>
			<string>{60,69}</string>
		</dict>
		<key>k2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,149},{72,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,69}}</string>
			<key>sourceSize</key>
			<string>{72,69}</string>
		</dict>
		<key>k2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,818},{60,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,69}}</string>
			<key>sourceSize</key>
			<string>{60,69}</string>
		</dict>
		<key>l1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,286},{56,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,69}}</string>
			<key>sourceSize</key>
			<string>{56,69}</string>
		</dict>
		<key>l1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,792},{27,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,69}}</string>
			<key>sourceSize</key>
			<string>{27,69}</string>
		</dict>
		<key>l2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,215},{56,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,69}}</string>
			<key>sourceSize</key>
			<string>{56,69}</string>
		</dict>
		<key>l2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,721},{27,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,69}}</string>
			<key>sourceSize</key>
			<string>{27,69}</string>
		</dict>
		<key>letterButton_H.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{212,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,213}}</string>
			<key>sourceSize</key>
			<string>{212,213}</string>
		</dict>
		<key>letterButton_N.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,215},{154,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,29},{154,155}}</string>
			<key>sourceSize</key>
			<string>{212,213}</string>
		</dict>
		<key>m1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,0},{78,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,69}}</string>
			<key>sourceSize</key>
			<string>{78,69}</string>
		</dict>
		<key>m1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,127},{85,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,54}}</string>
			<key>sourceSize</key>
			<string>{85,54}</string>
		</dict>
		<key>m2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,0},{78,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,69}}</string>
			<key>sourceSize</key>
			<string>{78,69}</string>
		</dict>
		<key>m2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,71},{85,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,54}}</string>
			<key>sourceSize</key>
			<string>{85,54}</string>
		</dict>
		<key>n1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,467},{68,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,69}}</string>
			<key>sourceSize</key>
			<string>{68,69}</string>
		</dict>
		<key>n1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,763},{57,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,54}}</string>
			<key>sourceSize</key>
			<string>{57,54}</string>
		</dict>
		<key>n2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,326},{68,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,69}}</string>
			<key>sourceSize</key>
			<string>{68,69}</string>
		</dict>
		<key>n2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,707},{57,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,54}}</string>
			<key>sourceSize</key>
			<string>{57,54}</string>
		</dict>
		<key>o1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,595},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>o1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,538},{59,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,55}}</string>
			<key>sourceSize</key>
			<string>{59,55}</string>
		</dict>
		<key>o2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,521},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>o2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,542},{59,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,55}}</string>
			<key>sourceSize</key>
			<string>{59,55}</string>
		</dict>
		<key>p1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,667},{64,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,69}}</string>
			<key>sourceSize</key>
			<string>{64,69}</string>
		</dict>
		<key>p1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,396},{59,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,69}}</string>
			<key>sourceSize</key>
			<string>{59,69}</string>
		</dict>
		<key>p2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,939},{64,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,69}}</string>
			<key>sourceSize</key>
			<string>{64,69}</string>
		</dict>
		<key>p2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,325},{59,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,69}}</string>
			<key>sourceSize</key>
			<string>{59,69}</string>
		</dict>
		<key>q1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,442},{72,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,77}}</string>
			<key>sourceSize</key>
			<string>{72,77}</string>
		</dict>
		<key>q1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,254},{59,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,69}}</string>
			<key>sourceSize</key>
			<string>{59,69}</string>
		</dict>
		<key>q2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,70},{72,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,77}}</string>
			<key>sourceSize</key>
			<string>{72,77}</string>
		</dict>
		<key>q2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,252},{59,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,69}}</string>
			<key>sourceSize</key>
			<string>{59,69}</string>
		</dict>
		<key>r1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,607},{66,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,69}}</string>
			<key>sourceSize</key>
			<string>{66,69}</string>
		</dict>
		<key>r1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,875},{41,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,54}}</string>
			<key>sourceSize</key>
			<string>{41,54}</string>
		</dict>
		<key>r2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,372},{66,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,69}}</string>
			<key>sourceSize</key>
			<string>{66,69}</string>
		</dict>
		<key>r2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,819},{41,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,54}}</string>
			<key>sourceSize</key>
			<string>{41,54}</string>
		</dict>
		<key>s1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,599},{65,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,72}}</string>
			<key>sourceSize</key>
			<string>{65,72}</string>
		</dict>
		<key>s1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,57},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>s2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,533},{65,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,72}}</string>
			<key>sourceSize</key>
			<string>{65,72}</string>
		</dict>
		<key>s2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,0},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>t1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,889},{65,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,69}}</string>
			<key>sourceSize</key>
			<string>{65,69}</string>
		</dict>
		<key>t1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,467},{41,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,68}}</string>
			<key>sourceSize</key>
			<string>{41,68}</string>
		</dict>
		<key>t2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,818},{65,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,69}}</string>
			<key>sourceSize</key>
			<string>{65,69}</string>
		</dict>
		<key>t2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,748},{41,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,68}}</string>
			<key>sourceSize</key>
			<string>{41,68}</string>
		</dict>
		<key>u1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,654},{68,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,70}}</string>
			<key>sourceSize</key>
			<string>{68,70}</string>
		</dict>
		<key>u1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,651},{57,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,54}}</string>
			<key>sourceSize</key>
			<string>{57,54}</string>
		</dict>
		<key>u2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,254},{68,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,70}}</string>
			<key>sourceSize</key>
			<string>{68,70}</string>
		</dict>
		<key>u2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,595},{57,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,54}}</string>
			<key>sourceSize</key>
			<string>{57,54}</string>
		</dict>
		<key>v1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,183},{70,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,69}}</string>
			<key>sourceSize</key>
			<string>{70,69}</string>
		</dict>
		<key>v1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,960},{58,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,53}}</string>
			<key>sourceSize</key>
			<string>{58,53}</string>
		</dict>
		<key>v2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,71},{70,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,69}}</string>
			<key>sourceSize</key>
			<string>{70,69}</string>
		</dict>
		<key>v2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,960},{58,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,53}}</string>
			<key>sourceSize</key>
			<string>{58,53}</string>
		</dict>
		<key>w1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,372},{91,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,68}}</string>
			<key>sourceSize</key>
			<string>{91,68}</string>
		</dict>
		<key>w1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,197},{83,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{83,53}}</string>
			<key>sourceSize</key>
			<string>{85,53}</string>
		</dict>
		<key>w2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,0},{91,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,68}}</string>
			<key>sourceSize</key>
			<string>{91,68}</string>
		</dict>
		<key>w2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,142},{83,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{83,53}}</string>
			<key>sourceSize</key>
			<string>{85,53}</string>
		</dict>
		<key>x1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,397},{71,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,68}}</string>
			<key>sourceSize</key>
			<string>{71,68}</string>
		</dict>
		<key>x1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,960},{59,53}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{61,53}</string>
		</dict>
		<key>x2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,362},{71,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,68}}</string>
			<key>sourceSize</key>
			<string>{71,68}</string>
		</dict>
		<key>x2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,960},{59,53}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,53}}</string>
			<key>sourceSize</key>
			<string>{61,53}</string>
		</dict>
		<key>y1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,584},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>y1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,678},{57,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{57,68}}</string>
			<key>sourceSize</key>
			<string>{59,68}</string>
		</dict>
		<key>y2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,514},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>y2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,748},{57,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{57,68}}</string>
			<key>sourceSize</key>
			<string>{59,68}</string>
		</dict>
		<key>z1-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,184},{62,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,68}}</string>
			<key>sourceSize</key>
			<string>{62,68}</string>
		</dict>
		<key>z1-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,487},{52,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,53}}</string>
			<key>sourceSize</key>
			<string>{52,53}</string>
		</dict>
		<key>z2-big.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,114},{62,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,68}}</string>
			<key>sourceSize</key>
			<string>{62,68}</string>
		</dict>
		<key>z2-small.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,432},{52,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,53}}</string>
			<key>sourceSize</key>
			<string>{52,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>letters-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{522,1013}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2d898a3cf7b8c6d1cc186424dc0410d7:776f6a824a2a90935459f5a079be7226:51bfd0b1c80f42359b731b8df1444544$</string>
		<key>textureFileName</key>
		<string>letters-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
