<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Big_F01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,542},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,542},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,870},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,706},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,542},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F09.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,434},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,434},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F12.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,326},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,326},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F15.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,218},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,218},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F18.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,110},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F19.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,110},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F21.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F22.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Big_F23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,162}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,56},{106,162}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BigFAnim.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9b02673bb778eae24ba9c3d9109adca:1/1$</string>
            <key>textureFileName</key>
            <string>BigFAnim.png</string>
        </dict>
    </dict>
</plist>
