<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swimmingFish0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{598,322}}</string>
                <key>offset</key>
                <string>{10,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,456},{598,322}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{594,322}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,456},{594,322}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,328},{590,320}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,456},{590,320}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{586,314}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,455},{586,314}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,650},{582,304}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,455},{582,304}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1234},{578,290}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,456},{578,290}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,650},{574,274}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,456},{574,274}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1200},{570,266}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,455},{570,266}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,926},{572,272}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,455},{572,272}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,650},{576,284}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,455},{576,284}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1234},{580,296}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,455},{580,296}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,650},{584,306}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,455},{584,306}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1240},{586,312}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,456},{586,312}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{588,318}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,456},{588,318}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,326},{592,322}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,456},{592,322}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{596,324}}</string>
                <key>offset</key>
                <string>{9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,455},{596,324}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
            <key>swimmingFish0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,322}}</string>
                <key>offset</key>
                <string>{11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,456},{598,322}}</string>
                <key>sourceSize</key>
                <string>{1440,1152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>swimmingFish.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f47f56db89d46290a5840ba90e789888:1/1$</string>
            <key>textureFileName</key>
            <string>swimmingFish.png</string>
        </dict>
    </dict>
</plist>
