<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>axle</key>
            <dict>
                <key>frame</key>
                <string>{{0,1684},{414,209}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{414,209}}</string>
                <key>sourceSize</key>
                <string>{468,241}</string>
            </dict>
            <key>door</key>
            <dict>
                <key>frame</key>
                <string>{{864,1419},{203,235}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{203,235}}</string>
                <key>sourceSize</key>
                <string>{239,295}</string>
            </dict>
            <key>exam</key>
            <dict>
                <key>frame</key>
                <string>{{0,1046},{478,636}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,636}}</string>
                <key>sourceSize</key>
                <string>{478,636}</string>
            </dict>
            <key>hexagon</key>
            <dict>
                <key>frame</key>
                <string>{{480,1419},{382,336}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,48},{382,336}}</string>
                <key>sourceSize</key>
                <string>{446,426}</string>
            </dict>
            <key>map</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1205,1044}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,107},{1205,1044}}</string>
                <key>sourceSize</key>
                <string>{1337,1248}</string>
            </dict>
            <key>taxi</key>
            <dict>
                <key>frame</key>
                <string>{{480,1046},{649,371}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,38},{649,371}}</string>
                <key>sourceSize</key>
                <string>{657,409}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objects-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1208,1900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa93dfa9ba3f84ca901e0e258f64546c:f30bb6096f13cd50ebde5d341cb0b635:e5dae7ffe4c52985589021a4ec5d589a$</string>
            <key>textureFileName</key>
            <string>objects-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
