<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>axle</key>
            <dict>
                <key>frame</key>
                <string>{{0,846},{208,101}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{208,101}}</string>
                <key>sourceSize</key>
                <string>{234,121}</string>
            </dict>
            <key>door</key>
            <dict>
                <key>frame</key>
                <string>{{436,715},{102,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{102,120}}</string>
                <key>sourceSize</key>
                <string>{120,148}</string>
            </dict>
            <key>exam</key>
            <dict>
                <key>frame</key>
                <string>{{0,526},{239,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,318}}</string>
                <key>sourceSize</key>
                <string>{239,318}</string>
            </dict>
            <key>hexagon</key>
            <dict>
                <key>frame</key>
                <string>{{241,715},{193,169}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{193,169}}</string>
                <key>sourceSize</key>
                <string>{223,213}</string>
            </dict>
            <key>map</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{603,524}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,52},{603,524}}</string>
                <key>sourceSize</key>
                <string>{669,624}</string>
            </dict>
            <key>taxi</key>
            <dict>
                <key>frame</key>
                <string>{{241,526},{327,187}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{327,187}}</string>
                <key>sourceSize</key>
                <string>{329,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objects-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{604,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa93dfa9ba3f84ca901e0e258f64546c:f30bb6096f13cd50ebde5d341cb0b635:e5dae7ffe4c52985589021a4ec5d589a$</string>
            <key>textureFileName</key>
            <string>objects-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
