<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>id_4line.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,527},{131,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,45}}</string>
                <key>sourceSize</key>
                <string>{131,45}</string>
            </dict>
            <key>id_a_b_write.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,244},{241,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,310}}</string>
                <key>sourceSize</key>
                <string>{241,310}</string>
            </dict>
            <key>id_a_l_write.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1},{241,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,310}}</string>
                <key>sourceSize</key>
                <string>{241,310}</string>
            </dict>
            <key>id_apple0.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,487},{38,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>id_apple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1149},{84,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,94}}</string>
                <key>sourceSize</key>
                <string>{84,94}</string>
            </dict>
            <key>id_apple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1149},{72,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,94}}</string>
                <key>sourceSize</key>
                <string>{72,94}</string>
            </dict>
            <key>id_apple3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1047},{130,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,147}}</string>
                <key>sourceSize</key>
                <string>{130,147}</string>
            </dict>
            <key>id_apple4.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1149},{111,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,100}}</string>
                <key>sourceSize</key>
                <string>{111,100}</string>
            </dict>
            <key>id_apple_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,825},{193,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,103}}</string>
                <key>sourceSize</key>
                <string>{193,103}</string>
            </dict>
            <key>id_apple_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,720},{193,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,103}}</string>
                <key>sourceSize</key>
                <string>{193,103}</string>
            </dict>
            <key>id_charactar.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,487},{270,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{270,340}}</string>
                <key>sourceSize</key>
                <string>{274,340}</string>
            </dict>
            <key>id_fg_appletree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,720},{544,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,440}}</string>
                <key>sourceSize</key>
                <string>{544,440}</string>
            </dict>
            <key>id_fg_lfence.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,829},{360,162}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{360,162}}</string>
                <key>sourceSize</key>
                <string>{364,166}</string>
            </dict>
            <key>id_fg_rfence.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,930},{183,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{183,115}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>id_guideboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{684,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,125}}</string>
                <key>sourceSize</key>
                <string>{684,125}</string>
            </dict>
            <key>id_paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1149},{100,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,137}}</string>
                <key>sourceSize</key>
                <string>{100,137}</string>
            </dict>
            <key>id_whiteboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,128},{664,590}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{664,590}}</string>
                <key>sourceSize</key>
                <string>{670,600}</string>
            </dict>
            <key>identification_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1047},{389,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,100}}</string>
                <key>sourceSize</key>
                <string>{389,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>letter_identification_a-hd.pvr.ccz</string>
            <key>size</key>
            <string>{999,1265}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e0476634fa36e73fb9a4c936be28295:1/1$</string>
            <key>textureFileName</key>
            <string>letter_identification_a-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
