<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>id_4line.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,473},{65,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,23}}</string>
                <key>sourceSize</key>
                <string>{65,23}</string>
            </dict>
            <key>id_a_b_write.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,336},{121,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,155}}</string>
                <key>sourceSize</key>
                <string>{121,155}</string>
            </dict>
            <key>id_a_l_write.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,345},{121,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,155}}</string>
                <key>sourceSize</key>
                <string>{121,155}</string>
            </dict>
            <key>id_apple0.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,473},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>id_apple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,418},{42,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,47}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>id_apple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,462},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>id_apple3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,223},{65,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>id_apple4.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,360},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>id_apple_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,223},{97,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,52}}</string>
                <key>sourceSize</key>
                <string>{97,52}</string>
            </dict>
            <key>id_apple_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,223},{97,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,52}}</string>
                <key>sourceSize</key>
                <string>{97,52}</string>
            </dict>
            <key>id_charactar.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,336},{135,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{135,170}}</string>
                <key>sourceSize</key>
                <string>{137,170}</string>
            </dict>
            <key>id_fg_appletree.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1},{272,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,220}}</string>
                <key>sourceSize</key>
                <string>{272,220}</string>
            </dict>
            <key>id_fg_lfence.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,322},{180,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,81}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>id_fg_rfence.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,223},{93,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,58}}</string>
                <key>sourceSize</key>
                <string>{93,58}</string>
            </dict>
            <key>id_guideboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{342,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,63}}</string>
                <key>sourceSize</key>
                <string>{342,63}</string>
            </dict>
            <key>id_paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,290},{50,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{50,68}</string>
            </dict>
            <key>id_whiteboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1},{333,296}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{333,296}}</string>
                <key>sourceSize</key>
                <string>{335,300}</string>
            </dict>
            <key>identification_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,290},{195,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,50}}</string>
                <key>sourceSize</key>
                <string>{195,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>letter_identification_a.pvr.ccz</string>
            <key>size</key>
            <string>{637,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49a933909c99d8a219472700c475642c:1/1$</string>
            <key>textureFileName</key>
            <string>letter_identification_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
