<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>id_4line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,1045},{261,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{261,88}}</string>
                <key>sourceSize</key>
                <string>{261,90}</string>
            </dict>
            <key>id_a_b_write.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,485},{482,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,620}}</string>
                <key>sourceSize</key>
                <string>{482,620}</string>
            </dict>
            <key>id_a_l_write.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1},{482,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,620}}</string>
                <key>sourceSize</key>
                <string>{482,620}</string>
            </dict>
            <key>id_apple0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,969},{74,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,96}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>id_apple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2283},{168,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,185}}</string>
                <key>sourceSize</key>
                <string>{168,187}</string>
            </dict>
            <key>id_apple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2376},{144,185}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,185}}</string>
                <key>sourceSize</key>
                <string>{144,187}</string>
            </dict>
            <key>id_apple3.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2081},{260,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,293}}</string>
                <key>sourceSize</key>
                <string>{260,293}</string>
            </dict>
            <key>id_apple4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,2283},{220,198}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,198}}</string>
                <key>sourceSize</key>
                <string>{222,200}</string>
            </dict>
            <key>id_apple_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1641},{386,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,206}}</string>
                <key>sourceSize</key>
                <string>{386,206}</string>
            </dict>
            <key>id_apple_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1433},{386,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,206}}</string>
                <key>sourceSize</key>
                <string>{386,206}</string>
            </dict>
            <key>id_charactar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,969},{540,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{540,680}}</string>
                <key>sourceSize</key>
                <string>{548,680}</string>
            </dict>
            <key>id_fg_appletree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1433},{1088,880}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1088,880}}</string>
                <key>sourceSize</key>
                <string>{1088,880}</string>
            </dict>
            <key>id_fg_lfence.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1651},{720,322}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{720,322}}</string>
                <key>sourceSize</key>
                <string>{728,332}</string>
            </dict>
            <key>id_fg_rfence.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1849},{366,230}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{366,230}}</string>
                <key>sourceSize</key>
                <string>{370,230}</string>
            </dict>
            <key>id_guideboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1368,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1368,250}}</string>
                <key>sourceSize</key>
                <string>{1368,250}</string>
            </dict>
            <key>id_paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,2283},{200,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,273}}</string>
                <key>sourceSize</key>
                <string>{200,273}</string>
            </dict>
            <key>id_whiteboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{1328,1178}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{1328,1178}}</string>
                <key>sourceSize</key>
                <string>{1340,1200}</string>
            </dict>
            <key>identification_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,2081},{778,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,200}}</string>
                <key>sourceSize</key>
                <string>{778,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>letter_identification_a-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1992,2522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19b0d3ea6497b820e9318fb159a8a6eb:1/1$</string>
            <key>textureFileName</key>
            <string>letter_identification_a-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
