<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goose0</key>
            <dict>
                <key>frame</key>
                <string>{{814,0},{197,214}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{197,214}}</string>
                <key>sourceSize</key>
                <string>{231,290}</string>
            </dict>
            <key>goose1</key>
            <dict>
                <key>frame</key>
                <string>{{0,329},{341,234}}</string>
                <key>offset</key>
                <string>{-42,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,124},{341,234}}</string>
                <key>sourceSize</key>
                <string>{591,500}</string>
            </dict>
            <key>goose2</key>
            <dict>
                <key>frame</key>
                <string>{{343,329},{355,222}}</string>
                <key>offset</key>
                <string>{-35,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,136},{355,222}}</string>
                <key>sourceSize</key>
                <string>{591,500}</string>
            </dict>
            <key>goose3</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{293,256}}</string>
                <key>offset</key>
                <string>{-67,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,186},{293,256}}</string>
                <key>sourceSize</key>
                <string>{591,500}</string>
            </dict>
            <key>goose4</key>
            <dict>
                <key>frame</key>
                <string>{{700,295},{293,172}}</string>
                <key>offset</key>
                <string>{-67,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,186},{293,172}}</string>
                <key>sourceSize</key>
                <string>{591,500}</string>
            </dict>
            <key>goose5</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{327,246}}</string>
                <key>offset</key>
                <string>{-50,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,112},{327,246}}</string>
                <key>sourceSize</key>
                <string>{591,500}</string>
            </dict>
            <key>goose6</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{327,306}}</string>
                <key>offset</key>
                <string>{-49,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,52},{327,306}}</string>
                <key>sourceSize</key>
                <string>{591,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goose-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1011,563}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f986060d480cd776b6000af631d1b154:2975363ff0fac2803c6ee71310103046:f0b0d28fb0f4f48f34ad1c5652163b76$</string>
            <key>textureFileName</key>
            <string>goose-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
