<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goose0</key>
            <dict>
                <key>frame</key>
                <string>{{1622,0},{396,426}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,80},{396,426}}</string>
                <key>sourceSize</key>
                <string>{462,580}</string>
            </dict>
            <key>goose1</key>
            <dict>
                <key>frame</key>
                <string>{{715,655},{685,466}}</string>
                <key>offset</key>
                <string>{-85,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,249},{685,466}}</string>
                <key>sourceSize</key>
                <string>{1181,1000}</string>
            </dict>
            <key>goose2</key>
            <dict>
                <key>frame</key>
                <string>{{0,659},{713,442}}</string>
                <key>offset</key>
                <string>{-71,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,273},{713,442}}</string>
                <key>sourceSize</key>
                <string>{1181,1000}</string>
            </dict>
            <key>goose3</key>
            <dict>
                <key>frame</key>
                <string>{{1108,0},{585,512}}</string>
                <key>offset</key>
                <string>{-134,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,372},{585,512}}</string>
                <key>sourceSize</key>
                <string>{1181,1000}</string>
            </dict>
            <key>goose4</key>
            <dict>
                <key>frame</key>
                <string>{{1402,587},{585,344}}</string>
                <key>offset</key>
                <string>{-134,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,371},{585,344}}</string>
                <key>sourceSize</key>
                <string>{1181,1000}</string>
            </dict>
            <key>goose5</key>
            <dict>
                <key>frame</key>
                <string>{{614,0},{653,492}}</string>
                <key>offset</key>
                <string>{-100,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,223},{653,492}}</string>
                <key>sourceSize</key>
                <string>{1181,1000}</string>
            </dict>
            <key>goose6</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{657,612}}</string>
                <key>offset</key>
                <string>{-99,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,103},{657,612}}</string>
                <key>sourceSize</key>
                <string>{1181,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goose-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2018,1121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f986060d480cd776b6000af631d1b154:2975363ff0fac2803c6ee71310103046:f0b0d28fb0f4f48f34ad1c5652163b76$</string>
            <key>textureFileName</key>
            <string>goose-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
