<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>id_fg_lfence.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,309},{180,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,81}}</string>
                <key>sourceSize</key>
                <string>{182,83}</string>
            </dict>
            <key>id_fg_rfence.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,170},{93,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,58}}</string>
                <key>sourceSize</key>
                <string>{93,58}</string>
            </dict>
            <key>id_guideboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,309},{342,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,63}}</string>
                <key>sourceSize</key>
                <string>{342,63}</string>
            </dict>
            <key>id_paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,309},{50,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{50,68}</string>
            </dict>
            <key>sd_character1.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,0},{107,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,168}}</string>
                <key>sourceSize</key>
                <string>{109,168}</string>
            </dict>
            <key>sd_character2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,222},{103,168}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{103,168}}</string>
                <key>sourceSize</key>
                <string>{109,168}</string>
            </dict>
            <key>sd_character3.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{107,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,168}}</string>
                <key>sourceSize</key>
                <string>{109,168}</string>
            </dict>
            <key>sd_character4.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{126,168}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,168}}</string>
                <key>sourceSize</key>
                <string>{142,168}</string>
            </dict>
            <key>sd_character5.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{126,168}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{126,168}}</string>
                <key>sourceSize</key>
                <string>{142,168}</string>
            </dict>
            <key>sd_character6.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,222},{105,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,168}}</string>
                <key>sourceSize</key>
                <string>{109,168}</string>
            </dict>
            <key>sd_character_stump.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,230},{102,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>sd_character_stump_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,170},{78,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>sd_cloudbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,309},{106,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,68}}</string>
                <key>sourceSize</key>
                <string>{106,68}</string>
            </dict>
            <key>sd_fg_cirrus.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,170},{83,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,131}}</string>
                <key>sourceSize</key>
                <string>{83,131}</string>
            </dict>
            <key>sd_fg_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{118,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,302}}</string>
                <key>sourceSize</key>
                <string>{118,302}</string>
            </dict>
            <key>sd_whiteboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{378,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,307}}</string>
                <key>sourceSize</key>
                <string>{378,307}</string>
            </dict>
            <key>sound_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,170},{195,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,50}}</string>
                <key>sourceSize</key>
                <string>{195,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sound_a.pvr.ccz</string>
            <key>size</key>
            <string>{1021,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f68c309d52482850739972ee91baefbf:1/1$</string>
            <key>textureFileName</key>
            <string>sound_a.pvr.ccz</string>
        </dict>
    </dict>
</plist>
