<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sound_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1536}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sound_a_bgimage-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:102cdb69aad967daf516b51c8dda05c9:1/1$</string>
            <key>textureFileName</key>
            <string>sound_a_bgimage-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
