<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>id_fg_lfence.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1480},{720,322}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{720,322}}</string>
                <key>sourceSize</key>
                <string>{728,332}</string>
            </dict>
            <key>id_fg_rfence.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1754},{366,230}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{366,230}}</string>
                <key>sourceSize</key>
                <string>{370,230}</string>
            </dict>
            <key>id_guideboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1228},{1368,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1368,250}}</string>
                <key>sourceSize</key>
                <string>{1368,250}</string>
            </dict>
            <key>id_paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,1732},{200,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,273}}</string>
                <key>sourceSize</key>
                <string>{200,273}</string>
            </dict>
            <key>sd_character1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1342},{420,670}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{420,670}}</string>
                <key>sourceSize</key>
                <string>{434,672}</string>
            </dict>
            <key>sd_character2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2490,0},{408,668}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{408,668}}</string>
                <key>sourceSize</key>
                <string>{434,672}</string>
            </dict>
            <key>sd_character3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1342},{422,672}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{422,672}}</string>
                <key>sourceSize</key>
                <string>{434,672}</string>
            </dict>
            <key>sd_character4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,0},{500,668}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{500,668}}</string>
                <key>sourceSize</key>
                <string>{568,672}</string>
            </dict>
            <key>sd_character5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,670},{498,670}}</string>
                <key>offset</key>
                <string>{32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{498,670}}</string>
                <key>sourceSize</key>
                <string>{568,672}</string>
            </dict>
            <key>sd_character6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2488,670},{418,670}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{418,670}}</string>
                <key>sourceSize</key>
                <string>{434,672}</string>
            </dict>
            <key>sd_character_stump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,1342},{408,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,214}}</string>
                <key>sourceSize</key>
                <string>{408,214}</string>
            </dict>
            <key>sd_character_stump_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,1558},{310,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,172}}</string>
                <key>sourceSize</key>
                <string>{312,172}</string>
            </dict>
            <key>sd_cloudbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1480},{422,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,272}}</string>
                <key>sourceSize</key>
                <string>{422,272}</string>
            </dict>
            <key>sd_fg_cirrus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1480},{332,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,522}}</string>
                <key>sourceSize</key>
                <string>{332,522}</string>
            </dict>
            <key>sd_fg_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,0},{472,1206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,1206}}</string>
                <key>sourceSize</key>
                <string>{472,1206}</string>
            </dict>
            <key>sd_whiteboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1512,1226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1512,1226}}</string>
                <key>sourceSize</key>
                <string>{1512,1226}</string>
            </dict>
            <key>sound_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1804},{778,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,200}}</string>
                <key>sourceSize</key>
                <string>{778,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sound_a-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2906,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63aa13b10309af3ef8227b1dd6438816:1/1$</string>
            <key>textureFileName</key>
            <string>sound_a-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
