<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bigLetterAnimStart</key>
	<string>3.487</string>
	<key>littleLetterAnimStart</key>
	<string>4.151</string>
	<key>letterSoundInWord</key>
	<string>Ehh</string>
	<key>letter</key>
	<string>e</string>
	<key>audioFileName</key>
	<string>letter_sound_e.mp3</string>
	<key>titlePeriod</key>
	<string>{0,0.797}</string>
	<key>images</key>
	<dict>
		<key>background</key>
		<dict>
			<key>frameFileName</key>
			<string>sound_a_bgimage.plist</string>
			<key>textureFileName</key>
			<string>sound_a_bgimage.pvr.ccz</string>
		</dict>
		<key>contents</key>
		<array>
			<dict>
				<key>frameFileName</key>
				<string>sound_a.plist</string>
				<key>textureFileName</key>
				<string>sound_a.pvr.ccz</string>
			</dict>
		</array>
	</dict>
	<key>scenes</key>
	<array>
		<dict>
			<key>dialog</key>
			<string>Now when we see the letter E , big or small 
we say its sound , Ehh .</string>
			<key>audioPeriod</key>
			<string>{0.8,7.7}</string>
		</dict>
		<dict>
			<key>dialog</key>
			<string>Can you repeat after me ?</string>
			<key>audioPeriod</key>
			<string>{8.634, 10.892}</string>
		</dict>
		<dict>
			<key>dialog</key>
			<string>E says Ehh</string>
			<key>audioPeriod</key>
			<string>{11.922,13.881}</string>
			<key>soundLabel</key>
			<array>
				<string>11.922</string>
				<string>12.436</string>
				<string>13.267</string>
			</array>
		</dict>
		<dict>
			<key>dialog</key>
			<string>e says Ahh</string>
			<key>audioPeriod</key>
			<string>{16.936,18.895}</string>
			<key>soundLabel</key>
			<array>
				<string>17.019</string>
				<string>17.600</string>
				<string>18.331</string>
			</array>
		</dict>
		<dict>
			<key>dialog</key>
			<string>Big E little e</string>
			<key>audioPeriod</key>
			<string>{27.828,30.717}</string>
			<key>soundLabel</key>
			<array>
				<string>27.861</string>
				<string>28.609</string>
				<string>29.273</string>
				<string>30.086</string>
			</array>
		</dict>
		<dict>
			<key>dialog</key>
			<string>E ehh elephant</string>
			<key>audioPeriod</key>
			<string>{36.828,39.617}</string>
			<key>soundLabel</key>
			<array>
				<string>36.960</string>
				<string>37.658</string>
				<string>38.405</string>
			</array>
		</dict>
		<dict>
			<key>dialog</key>
			<string>Here&apos;s the whole rhyme together</string>
			<key>audioPeriod</key>
			<string>{45.262,47.853}</string>
		</dict>
		<dict>
			<key>soundLabel</key>
			<array>
				<string>48.816</string>
				<string>49.297</string>
				<string>50.044</string>
				<string>51.323</string>
				<string>51.771</string>
				<string>52.568</string>
				<string>53.897</string>
				<string>54.610</string>
				<string>55.192</string>
				<string>55.922</string>
				<string>56.686</string>
				<string>57.284</string>
				<string>57.981</string>
			</array>
			<key>dialog</key>
			<string>E says Ehh
 e says ehh
 Big E little e 
E ehh elephant</string>
			<key>audioPeriod</key>
			<string>{48.583,59.210}</string>
		</dict>
		<dict>
			<key>dialog</key>
			<string>Now you try it with me, Ready ?</string>
			<key>audioPeriod</key>
			<string>{60,62.132}</string>
		</dict>
		<dict>
			<key>soundLabel</key>
			<array>
				<string>48.816</string>
				<string>49.297</string>
				<string>50.044</string>
				<string>51.323</string>
				<string>51.771</string>
				<string>52.568</string>
				<string>53.897</string>
				<string>54.610</string>
				<string>55.192</string>
				<string>55.922</string>
				<string>56.686</string>
				<string>57.284</string>
				<string>57.981</string>
			</array>
			<key>dialog</key>
			<string>E says Ehh
 e says ehh
 Big E little e 
E ehh elephant</string>
			<key>audioPeriod</key>
			<string>{48.583,59.210}</string>
		</dict>
	</array>
</dict>
</plist>
