<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box</key>
            <dict>
                <key>frame</key>
                <string>{{1905,1828},{306,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,175}}</string>
                <key>sourceSize</key>
                <string>{306,175}</string>
            </dict>
            <key>clown</key>
            <dict>
                <key>frame</key>
                <string>{{1905,1555},{275,271}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{275,271}}</string>
                <key>sourceSize</key>
                <string>{275,273}</string>
            </dict>
            <key>egg_1</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{395,559}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{395,559}}</string>
                <key>sourceSize</key>
                <string>{395,561}</string>
            </dict>
            <key>egg_2</key>
            <dict>
                <key>frame</key>
                <string>{{1241,0},{390,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,549}}</string>
                <key>sourceSize</key>
                <string>{390,549}</string>
            </dict>
            <key>egg_3</key>
            <dict>
                <key>frame</key>
                <string>{{1888,998},{387,555}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,555}}</string>
                <key>sourceSize</key>
                <string>{387,555}</string>
            </dict>
            <key>egg_break_1</key>
            <dict>
                <key>frame</key>
                <string>{{688,1671},{607,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,357}}</string>
                <key>sourceSize</key>
                <string>{607,357}</string>
            </dict>
            <key>egg_break_2</key>
            <dict>
                <key>frame</key>
                <string>{{1905,0},{606,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,357}}</string>
                <key>sourceSize</key>
                <string>{606,357}</string>
            </dict>
            <key>egg_break_3</key>
            <dict>
                <key>frame</key>
                <string>{{1297,1671},{606,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,357}}</string>
                <key>sourceSize</key>
                <string>{606,357}</string>
            </dict>
            <key>hammer</key>
            <dict>
                <key>frame</key>
                <string>{{1771,608},{436,388}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{436,388}}</string>
                <key>sourceSize</key>
                <string>{472,442}</string>
            </dict>
            <key>shine</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1053,842}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,96},{1053,842}}</string>
                <key>sourceSize</key>
                <string>{1179,1006}</string>
            </dict>
            <key>spring</key>
            <dict>
                <key>frame</key>
                <string>{{0,1909},{90,180}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,186}</string>
            </dict>
            <key>walrus</key>
            <dict>
                <key>frame</key>
                <string>{{688,1055},{613,614}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{613,614}}</string>
                <key>sourceSize</key>
                <string>{613,618}</string>
            </dict>
            <key>wasp</key>
            <dict>
                <key>frame</key>
                <string>{{0,1055},{852,686}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{852,686}}</string>
                <key>sourceSize</key>
                <string>{866,686}</string>
            </dict>
            <key>whale</key>
            <dict>
                <key>frame</key>
                <string>{{844,608},{925,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{925,406}}</string>
                <key>sourceSize</key>
                <string>{925,406}</string>
            </dict>
            <key>woodpecker</key>
            <dict>
                <key>frame</key>
                <string>{{1303,1016},{609,583}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{609,583}}</string>
                <key>sourceSize</key>
                <string>{623,583}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_objects-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2275,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a57c6eaa12dd7edd51dbe832e36f7405:8af65119d05841f0e8d0ff19f8da0692:eb4fa8834c5274b7f18d546a2491d056$</string>
            <key>textureFileName</key>
            <string>game_objects-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
