<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box</key>
            <dict>
                <key>frame</key>
                <string>{{921,956},{153,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,88}}</string>
                <key>sourceSize</key>
                <string>{153,88}</string>
            </dict>
            <key>clown</key>
            <dict>
                <key>frame</key>
                <string>{{782,956},{138,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,137}}</string>
                <key>sourceSize</key>
                <string>{138,137}</string>
            </dict>
            <key>egg_1</key>
            <dict>
                <key>frame</key>
                <string>{{0,415},{198,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,281}}</string>
                <key>sourceSize</key>
                <string>{198,281}</string>
            </dict>
            <key>egg_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,615},{195,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,275}}</string>
                <key>sourceSize</key>
                <string>{195,275}</string>
            </dict>
            <key>egg_3</key>
            <dict>
                <key>frame</key>
                <string>{{502,948},{194,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,278}}</string>
                <key>sourceSize</key>
                <string>{194,278}</string>
            </dict>
            <key>egg_break_1</key>
            <dict>
                <key>frame</key>
                <string>{{831,345},{304,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,179}}</string>
                <key>sourceSize</key>
                <string>{304,179}</string>
            </dict>
            <key>egg_break_2</key>
            <dict>
                <key>frame</key>
                <string>{{0,956},{303,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,179}}</string>
                <key>sourceSize</key>
                <string>{303,179}</string>
            </dict>
            <key>egg_break_3</key>
            <dict>
                <key>frame</key>
                <string>{{831,651},{303,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,179}}</string>
                <key>sourceSize</key>
                <string>{303,179}</string>
            </dict>
            <key>hammer</key>
            <dict>
                <key>frame</key>
                <string>{{305,880},{218,195}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{218,195}}</string>
                <key>sourceSize</key>
                <string>{236,221}</string>
            </dict>
            <key>shine</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{520,413}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,52},{520,413}}</string>
                <key>sourceSize</key>
                <string>{590,503}</string>
            </dict>
            <key>spring</key>
            <dict>
                <key>frame</key>
                <string>{{951,0},{45,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,91}}</string>
                <key>sourceSize</key>
                <string>{45,93}</string>
            </dict>
            <key>walrus</key>
            <dict>
                <key>frame</key>
                <string>{{522,345},{307,307}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{307,307}}</string>
                <key>sourceSize</key>
                <string>{307,309}</string>
            </dict>
            <key>wasp</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{427,343}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{427,343}}</string>
                <key>sourceSize</key>
                <string>{433,343}</string>
            </dict>
            <key>whale</key>
            <dict>
                <key>frame</key>
                <string>{{305,415},{463,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,203}}</string>
                <key>sourceSize</key>
                <string>{463,203}</string>
            </dict>
            <key>woodpecker</key>
            <dict>
                <key>frame</key>
                <string>{{510,654},{306,292}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{306,292}}</string>
                <key>sourceSize</key>
                <string>{312,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_objects-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1010,1142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a57c6eaa12dd7edd51dbe832e36f7405:8af65119d05841f0e8d0ff19f8da0692:eb4fa8834c5274b7f18d546a2491d056$</string>
            <key>textureFileName</key>
            <string>game_objects-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
