<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Little_c01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,268},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,170},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,86},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,86},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,86},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c06.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,380},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c07.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,282},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c08.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,184},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c09.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,86},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
            <key>Little_c18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,96}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,121},{82,96}}</string>
                <key>sourceSize</key>
                <string>{290,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>littleC.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2bea62a9e44b4ba0cb9e76fc4edb8e4:1/1$</string>
            <key>textureFileName</key>
            <string>littleC.png</string>
        </dict>
    </dict>
</plist>
