<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {833, 540}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{833, 540}</string>
			<key>spriteSourceSize</key>
			<string>{833, 542}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{883, 944}, {833, 540}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {1048, 322}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{1048, 322}</string>
			<key>spriteSourceSize</key>
			<string>{1052, 330}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{883, 620}, {1048, 322}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster_eye_close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {499, 422}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{499, 422}</string>
			<key>spriteSourceSize</key>
			<string>{499, 422}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{883, 1486}, {499, 422}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster_eye_open.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {499, 422}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{499, 422}</string>
			<key>spriteSourceSize</key>
			<string>{499, 422}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1384, 1486}, {499, 422}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {2018, 618}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{2018, 618}</string>
			<key>spriteSourceSize</key>
			<string>{2018, 648}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {2018, 618}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sun.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {177, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 129}</string>
			<key>spriteSourceSize</key>
			<string>{181, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1867}, {177, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tree.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {881, 1245}}</string>
			<key>spriteOffset</key>
			<string>{-4, 7}</string>
			<key>spriteSize</key>
			<string>{881, 1245}</string>
			<key>spriteSourceSize</key>
			<string>{889, 1261}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 620}, {881, 1245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>learnword-hd.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>