<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {416, 271}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{416, 271}</string>
			<key>spriteSourceSize</key>
			<string>{416, 271}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{441, 472}, {416, 271}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cloud.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {524, 161}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{524, 161}</string>
			<key>spriteSourceSize</key>
			<string>{526, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{441, 310}, {524, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster_eye_close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {249, 211}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{249, 211}</string>
			<key>spriteSourceSize</key>
			<string>{249, 211}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{441, 743}, {249, 211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster_eye_open.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {249, 211}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{249, 211}</string>
			<key>spriteSourceSize</key>
			<string>{249, 211}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{692, 743}, {249, 211}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1009, 310}}</string>
			<key>spriteOffset</key>
			<string>{0, 7}</string>
			<key>spriteSize</key>
			<string>{1009, 310}</string>
			<key>spriteSourceSize</key>
			<string>{1009, 324}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1009, 310}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sun.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {88, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 64}</string>
			<key>spriteSourceSize</key>
			<string>{90, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 933}, {88, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tree.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {440, 624}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{440, 624}</string>
			<key>spriteSourceSize</key>
			<string>{444, 630}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 310}, {440, 624}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>learnword.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>