<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_help</key>
            <dict>
                <key>frame</key>
                <string>{{202,337},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_help_c</key>
            <dict>
                <key>frame</key>
                <string>{{202,307},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_music</key>
            <dict>
                <key>frame</key>
                <string>{{226,244},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_music_c</key>
            <dict>
                <key>frame</key>
                <string>{{226,214},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_music_off</key>
            <dict>
                <key>frame</key>
                <string>{{192,423},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>button_option</key>
            <dict>
                <key>frame</key>
                <string>{{232,135},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>button_option_bg</key>
            <dict>
                <key>frame</key>
                <string>{{208,135},{22,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,77}}</string>
                <key>sourceSize</key>
                <string>{22,77}</string>
            </dict>
            <key>button_option_c</key>
            <dict>
                <key>frame</key>
                <string>{{208,214},{16,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,56}}</string>
                <key>sourceSize</key>
                <string>{16,56}</string>
            </dict>
            <key>button_rec_continue</key>
            <dict>
                <key>frame</key>
                <string>{{119,394},{78,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,27}}</string>
                <key>sourceSize</key>
                <string>{78,27}</string>
            </dict>
            <key>button_rec_continue_c</key>
            <dict>
                <key>frame</key>
                <string>{{122,365},{78,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,27}}</string>
                <key>sourceSize</key>
                <string>{78,27}</string>
            </dict>
            <key>button_rec_menu</key>
            <dict>
                <key>frame</key>
                <string>{{122,336},{78,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,27}}</string>
                <key>sourceSize</key>
                <string>{78,27}</string>
            </dict>
            <key>button_rec_menu_c</key>
            <dict>
                <key>frame</key>
                <string>{{122,307},{78,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,27}}</string>
                <key>sourceSize</key>
                <string>{78,27}</string>
            </dict>
            <key>button_rec_restart</key>
            <dict>
                <key>frame</key>
                <string>{{80,445},{78,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,27}}</string>
                <key>sourceSize</key>
                <string>{78,27}</string>
            </dict>
            <key>button_rec_restart_c</key>
            <dict>
                <key>frame</key>
                <string>{{0,445},{78,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,27}}</string>
                <key>sourceSize</key>
                <string>{78,27}</string>
            </dict>
            <key>button_rectangle_bg</key>
            <dict>
                <key>frame</key>
                <string>{{122,276},{82,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,29}}</string>
                <key>sourceSize</key>
                <string>{82,29}</string>
            </dict>
            <key>button_wood_bg</key>
            <dict>
                <key>frame</key>
                <string>{{160,423},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>option_cat_body</key>
            <dict>
                <key>frame</key>
                <string>{{122,135},{84,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,139}}</string>
                <key>sourceSize</key>
                <string>{84,139}</string>
            </dict>
            <key>setting_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,384}}</string>
                <key>sourceSize</key>
                <string>{120,384}</string>
            </dict>
            <key>setting_d_down</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>setting_d_up</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{117,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,57}}</string>
                <key>sourceSize</key>
                <string>{117,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.pvr.ccz</string>
            <key>size</key>
            <string>{254,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72481a133f3b90f0fce65f9d67526dde:1/1$</string>
            <key>textureFileName</key>
            <string>setting.pvr.ccz</string>
        </dict>
    </dict>
</plist>
