<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_help</key>
            <dict>
                <key>frame</key>
                <string>{{446,422},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_help_c</key>
            <dict>
                <key>frame</key>
                <string>{{393,827},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_music</key>
            <dict>
                <key>frame</key>
                <string>{{399,774},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_music_c</key>
            <dict>
                <key>frame</key>
                <string>{{399,721},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_music_off</key>
            <dict>
                <key>frame</key>
                <string>{{399,668},{49,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>button_option</key>
            <dict>
                <key>frame</key>
                <string>{{457,267},{32,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,111}}</string>
                <key>sourceSize</key>
                <string>{32,111}</string>
            </dict>
            <key>button_option_bg</key>
            <dict>
                <key>frame</key>
                <string>{{412,267},{43,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,153}}</string>
                <key>sourceSize</key>
                <string>{43,153}</string>
            </dict>
            <key>button_option_c</key>
            <dict>
                <key>frame</key>
                <string>{{412,422},{32,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,111}}</string>
                <key>sourceSize</key>
                <string>{32,111}</string>
            </dict>
            <key>button_rec_continue</key>
            <dict>
                <key>frame</key>
                <string>{{236,871},{155,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{155,51}}</string>
                <key>sourceSize</key>
                <string>{155,53}</string>
            </dict>
            <key>button_rec_continue_c</key>
            <dict>
                <key>frame</key>
                <string>{{236,818},{155,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{155,51}}</string>
                <key>sourceSize</key>
                <string>{155,53}</string>
            </dict>
            <key>button_rec_menu</key>
            <dict>
                <key>frame</key>
                <string>{{242,765},{155,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{155,51}}</string>
                <key>sourceSize</key>
                <string>{155,53}</string>
            </dict>
            <key>button_rec_menu_c</key>
            <dict>
                <key>frame</key>
                <string>{{242,712},{155,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{155,51}}</string>
                <key>sourceSize</key>
                <string>{155,53}</string>
            </dict>
            <key>button_rec_restart</key>
            <dict>
                <key>frame</key>
                <string>{{242,659},{155,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{155,51}}</string>
                <key>sourceSize</key>
                <string>{155,53}</string>
            </dict>
            <key>button_rec_restart_c</key>
            <dict>
                <key>frame</key>
                <string>{{242,606},{155,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{155,51}}</string>
                <key>sourceSize</key>
                <string>{155,53}</string>
            </dict>
            <key>button_rectangle_bg</key>
            <dict>
                <key>frame</key>
                <string>{{242,546},{164,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,58}}</string>
                <key>sourceSize</key>
                <string>{164,58}</string>
            </dict>
            <key>button_wood_bg</key>
            <dict>
                <key>frame</key>
                <string>{{399,606},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>option_cat_body</key>
            <dict>
                <key>frame</key>
                <string>{{242,267},{168,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,277}}</string>
                <key>sourceSize</key>
                <string>{168,277}</string>
            </dict>
            <key>setting_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{240,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,768}}</string>
                <key>sourceSize</key>
                <string>{240,768}</string>
            </dict>
            <key>setting_d_down</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{263,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,265}}</string>
                <key>sourceSize</key>
                <string>{263,265}</string>
            </dict>
            <key>setting_d_up</key>
            <dict>
                <key>frame</key>
                <string>{{0,770},{234,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,113}}</string>
                <key>sourceSize</key>
                <string>{234,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting-hd.pvr.ccz</string>
            <key>size</key>
            <string>{505,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b15907354f7efa4e26046d99f04d7618:1/1$</string>
            <key>textureFileName</key>
            <string>setting-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
