<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_help</key>
            <dict>
                <key>frame</key>
                <string>{{792,1410},{96,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_help_c</key>
            <dict>
                <key>frame</key>
                <string>{{792,1308},{96,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_music</key>
            <dict>
                <key>frame</key>
                <string>{{792,1206},{96,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_music_c</key>
            <dict>
                <key>frame</key>
                <string>{{886,978},{96,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_music_off</key>
            <dict>
                <key>frame</key>
                <string>{{908,756},{96,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>button_option</key>
            <dict>
                <key>frame</key>
                <string>{{908,532},{64,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,222}}</string>
                <key>sourceSize</key>
                <string>{64,222}</string>
            </dict>
            <key>button_option_bg</key>
            <dict>
                <key>frame</key>
                <string>{{820,532},{86,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,306}}</string>
                <key>sourceSize</key>
                <string>{86,306}</string>
            </dict>
            <key>button_option_c</key>
            <dict>
                <key>frame</key>
                <string>{{820,840},{64,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,222}}</string>
                <key>sourceSize</key>
                <string>{64,222}</string>
            </dict>
            <key>button_rec_continue</key>
            <dict>
                <key>frame</key>
                <string>{{470,1716},{308,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{308,100}}</string>
                <key>sourceSize</key>
                <string>{310,106}</string>
            </dict>
            <key>button_rec_continue_c</key>
            <dict>
                <key>frame</key>
                <string>{{470,1614},{308,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{308,100}}</string>
                <key>sourceSize</key>
                <string>{310,106}</string>
            </dict>
            <key>button_rec_menu</key>
            <dict>
                <key>frame</key>
                <string>{{482,1512},{308,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{308,100}}</string>
                <key>sourceSize</key>
                <string>{310,106}</string>
            </dict>
            <key>button_rec_menu_c</key>
            <dict>
                <key>frame</key>
                <string>{{482,1410},{308,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{308,100}}</string>
                <key>sourceSize</key>
                <string>{310,106}</string>
            </dict>
            <key>button_rec_restart</key>
            <dict>
                <key>frame</key>
                <string>{{482,1308},{308,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{308,100}}</string>
                <key>sourceSize</key>
                <string>{310,106}</string>
            </dict>
            <key>button_rec_restart_c</key>
            <dict>
                <key>frame</key>
                <string>{{482,1206},{308,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{308,100}}</string>
                <key>sourceSize</key>
                <string>{310,106}</string>
            </dict>
            <key>button_rectangle_bg</key>
            <dict>
                <key>frame</key>
                <string>{{482,1088},{328,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,116}}</string>
                <key>sourceSize</key>
                <string>{328,116}</string>
            </dict>
            <key>button_wood_bg</key>
            <dict>
                <key>frame</key>
                <string>{{886,858},{118,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>option_cat_body</key>
            <dict>
                <key>frame</key>
                <string>{{482,532},{336,554}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,554}}</string>
                <key>sourceSize</key>
                <string>{336,554}</string>
            </dict>
            <key>setting_bg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,1536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,1536}}</string>
                <key>sourceSize</key>
                <string>{480,1536}</string>
            </dict>
            <key>setting_d_down</key>
            <dict>
                <key>frame</key>
                <string>{{482,0},{524,530}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,530}}</string>
                <key>sourceSize</key>
                <string>{526,530}</string>
            </dict>
            <key>setting_d_up</key>
            <dict>
                <key>frame</key>
                <string>{{0,1538},{468,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,226}}</string>
                <key>sourceSize</key>
                <string>{468,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1006,1816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c91e37959699367f5d70bd0cd009df8:1/1$</string>
            <key>textureFileName</key>
            <string>setting-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
