<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_button_N</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1308},{568,204}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{568,204}}</string>
                <key>sourceSize</key>
                <string>{570,208}</string>
            </dict>
            <key>menu_button_P</key>
            <dict>
                <key>frame</key>
                <string>{{952,1308},{568,204}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{568,204}}</string>
                <key>sourceSize</key>
                <string>{570,208}</string>
            </dict>
            <key>menu_dialog</key>
            <dict>
                <key>frame</key>
                <string>{{952,100},{384,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{384,97}}</string>
                <key>sourceSize</key>
                <string>{384,101}</string>
            </dict>
            <key>menu_flower_l</key>
            <dict>
                <key>frame</key>
                <string>{{952,803},{371,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,503}}</string>
                <key>sourceSize</key>
                <string>{371,503}</string>
            </dict>
            <key>menu_flower_r</key>
            <dict>
                <key>frame</key>
                <string>{{952,298},{372,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,503}}</string>
                <key>sourceSize</key>
                <string>{372,503}</string>
            </dict>
            <key>menu_game</key>
            <dict>
                <key>frame</key>
                <string>{{387,1895},{193,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{193,96}}</string>
                <key>sourceSize</key>
                <string>{193,100}</string>
            </dict>
            <key>menu_panel</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1892,949}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1892,949}}</string>
                <key>sourceSize</key>
                <string>{1892,949}</string>
            </dict>
            <key>menu_pronunciation</key>
            <dict>
                <key>frame</key>
                <string>{{952,1},{384,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{384,97}}</string>
                <key>sourceSize</key>
                <string>{384,101}</string>
            </dict>
            <key>menu_review</key>
            <dict>
                <key>frame</key>
                <string>{{952,1878},{193,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{193,97}}</string>
                <key>sourceSize</key>
                <string>{193,101}</string>
            </dict>
            <key>menu_story</key>
            <dict>
                <key>frame</key>
                <string>{{952,199},{382,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{382,97}}</string>
                <key>sourceSize</key>
                <string>{382,101}</string>
            </dict>
            <key>menu_vocabulary</key>
            <dict>
                <key>frame</key>
                <string>{{1,1895},{384,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{384,96}}</string>
                <key>sourceSize</key>
                <string>{384,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu_letter_list-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1364,1992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dcc08571bece4c1afec9b01b54ea969:758abcd4e40d02a67c6212d0537925b8:c1aab5eae1c61564d835c62376e2a87f$</string>
            <key>textureFileName</key>
            <string>menu_letter_list-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
