<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>indicator_dot1.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,128},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>indicator_dot2.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,128},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>menu_button_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{837,0},{126,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,125}}</string>
			<key>sourceSize</key>
			<string>{126,125}</string>
		</dict>
		<key>menu_button_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{813,615},{126,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,126}}</string>
			<key>sourceSize</key>
			<string>{126,126}</string>
		</dict>
		<key>menu_button_pressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,615},{126,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,126}}</string>
			<key>sourceSize</key>
			<string>{126,126}</string>
		</dict>
		<key>menu_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{837,128},{75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,75}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>menu_panel.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{835,613}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{835,613}}</string>
			<key>sourceSize</key>
			<string>{835,613}</string>
		</dict>
		<key>menu_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,615},{683,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{683,206}}</string>
			<key>sourceSize</key>
			<string>{683,206}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>menu_stage-ipad.pvr.ccz</string>
		<key>size</key>
		<string>{962,821}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:003cf6166301ea66fe6f595ca567ff05:8acdbe164a6147a8a235b103b41b7522:553f31c0308acee424bb93f37db3013a$</string>
		<key>textureFileName</key>
		<string>menu_stage-ipad.pvr.ccz</string>
	</dict>
</dict>
</plist>
