<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_button_N</key>
            <dict>
                <key>frame</key>
                <string>{{289,948},{286,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{286,103}}</string>
                <key>sourceSize</key>
                <string>{286,105}</string>
            </dict>
            <key>menu_button_P</key>
            <dict>
                <key>frame</key>
                <string>{{1,948},{286,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{286,103}}</string>
                <key>sourceSize</key>
                <string>{286,105}</string>
            </dict>
            <key>menu_dialog</key>
            <dict>
                <key>frame</key>
                <string>{{479,156},{193,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{193,50}}</string>
                <key>sourceSize</key>
                <string>{193,52}</string>
            </dict>
            <key>menu_flower_l</key>
            <dict>
                <key>frame</key>
                <string>{{479,566},{187,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,253}}</string>
                <key>sourceSize</key>
                <string>{187,253}</string>
            </dict>
            <key>menu_flower_r</key>
            <dict>
                <key>frame</key>
                <string>{{479,311},{187,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,253}}</string>
                <key>sourceSize</key>
                <string>{187,253}</string>
            </dict>
            <key>menu_game</key>
            <dict>
                <key>frame</key>
                <string>{{577,53},{98,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,49}}</string>
                <key>sourceSize</key>
                <string>{98,51}</string>
            </dict>
            <key>menu_panel</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{945,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{945,476}}</string>
                <key>sourceSize</key>
                <string>{947,476}</string>
            </dict>
            <key>menu_pronunciation</key>
            <dict>
                <key>frame</key>
                <string>{{479,104},{193,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{193,50}}</string>
                <key>sourceSize</key>
                <string>{193,52}</string>
            </dict>
            <key>menu_review</key>
            <dict>
                <key>frame</key>
                <string>{{577,1},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,52}</string>
            </dict>
            <key>menu_story</key>
            <dict>
                <key>frame</key>
                <string>{{479,259},{192,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{192,50}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>menu_vocabulary</key>
            <dict>
                <key>frame</key>
                <string>{{479,208},{193,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{193,49}}</string>
                <key>sourceSize</key>
                <string>{193,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu_letter_list-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{682,1052}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dcc08571bece4c1afec9b01b54ea969:758abcd4e40d02a67c6212d0537925b8:c1aab5eae1c61564d835c62376e2a87f$</string>
            <key>textureFileName</key>
            <string>menu_letter_list-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
