<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,0},{145,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,151}}</string>
                <key>sourceSize</key>
                <string>{145,151}</string>
            </dict>
            <key>button_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,0},{142,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,154}}</string>
                <key>sourceSize</key>
                <string>{142,154}</string>
            </dict>
            <key>button_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,453},{127,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,153}}</string>
                <key>sourceSize</key>
                <string>{127,153}</string>
            </dict>
            <key>button_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,151},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>button_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,150},{119,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,156}}</string>
                <key>sourceSize</key>
                <string>{119,156}</string>
            </dict>
            <key>button_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,144},{114,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,153}}</string>
                <key>sourceSize</key>
                <string>{114,153}</string>
            </dict>
            <key>button_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,303},{141,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,146}}</string>
                <key>sourceSize</key>
                <string>{141,146}</string>
            </dict>
            <key>button_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{148,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,151}}</string>
                <key>sourceSize</key>
                <string>{148,151}</string>
            </dict>
            <key>button_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,299},{65,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,150}}</string>
                <key>sourceSize</key>
                <string>{65,150}</string>
            </dict>
            <key>button_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,456},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>button_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{149,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,155}}</string>
                <key>sourceSize</key>
                <string>{149,155}</string>
            </dict>
            <key>button_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{101,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,149}}</string>
                <key>sourceSize</key>
                <string>{101,149}</string>
            </dict>
            <key>button_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,151},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>button_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,300},{143,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,151}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>button_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,428},{135,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,147}}</string>
                <key>sourceSize</key>
                <string>{135,147}</string>
            </dict>
            <key>button_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,451},{131,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,154}}</string>
                <key>sourceSize</key>
                <string>{131,154}</string>
            </dict>
            <key>button_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{136,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,170}}</string>
                <key>sourceSize</key>
                <string>{136,170}</string>
            </dict>
            <key>button_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,150},{140,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,152}}</string>
                <key>sourceSize</key>
                <string>{140,152}</string>
            </dict>
            <key>button_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,147},{120,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,154}}</string>
                <key>sourceSize</key>
                <string>{120,154}</string>
            </dict>
            <key>button_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,303},{128,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,151}}</string>
                <key>sourceSize</key>
                <string>{128,151}</string>
            </dict>
            <key>button_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,319},{136,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,155}}</string>
                <key>sourceSize</key>
                <string>{136,155}</string>
            </dict>
            <key>button_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,429},{135,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,153}}</string>
                <key>sourceSize</key>
                <string>{135,153}</string>
            </dict>
            <key>button_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{175,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,145}}</string>
                <key>sourceSize</key>
                <string>{175,145}</string>
            </dict>
            <key>button_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,292},{135,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,152}}</string>
                <key>sourceSize</key>
                <string>{135,152}</string>
            </dict>
            <key>button_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,0},{149,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,148}}</string>
                <key>sourceSize</key>
                <string>{149,148}</string>
            </dict>
            <key>button_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,308},{118,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,149}}</string>
                <key>sourceSize</key>
                <string>{118,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu_letter-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{948,582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14bea0004149a6c9a91b6cafc31f6c69:7a0ab272cd52f0fd83ff05fd6fcf97cf:0346da5d20132688c0c326e0b3f0c6f6$</string>
            <key>textureFileName</key>
            <string>menu_letter-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
